<!DOCTYPE html>
<html>
<head>
    <title>:Launcher:</title>
    <style>
        body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>EDGE</h1>
    <h2>Launcher</h2>
    <a href="/Logout">Logout :p</a>
</body>
</html>