<!DOCTYPE html>
<html>
<head>
    <title>:Distributor:</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-weight: lighter;
        }

        h1 {
            font-weight: normal;
        }

        h2 {
            font-weight: lighter;
        }
    </style>

    <script>
        function Loaded() {
            document.getElementById("jump").submit();
        }
    </script>
</head>
<body onload="Loaded()">
    <h1>Logging In (Finalize)</h1>
    <% for(var i = 0; i < domains.length; i++) { %>
    <img src="http://<%=domains[i]%>/distribute?<%=query%>" />
    <% } %>
    <form id="jump" method="post" action="http://wifi.network/?<%=originalQuery%>">
    </form>
</body>
</html>