<!DOCTYPE html>
<html>
<head>
    <title>:Renew:</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-weight: lighter;
        }
        h1 {
            font-weight: normal;
        }
        h2 {
            font-weight: lighter;
        }
    </style>
</head>
<body>
    <h1>Logging In (Renewal)</h1>
    <form id="jump" method="post" action="/renew?<%=query%>"></form>
    <script>
        document.getElementById("jump").submit();
    </script>
</body>
</html>