<div id="app-list-area" class="window" style="color:#fff;">
    <div id="app-list-parent" class="window">
        <div id="app-list-title">Home<span>Apps</span></div>
        <div id="app-list">
            <div class="app-list-icon href" href="/landscape">
                <div class="ico">
                    <img src="images/ico/test.gif" />
                </div>
                <span>Landscape</span>
            </div>
            <div class="app-list-icon href">
                <div class="ico">
                    <img src="images/ico/light gradient/lamp.png" />
                </div>
                <span>Here</span>
            </div>
            <div class="app-list-icon href">
                <div class="ico">
                    <img src="images/ico/light gradient/wrench.png" />
                </div>
                <span>设置</span>
            </div>
            <div class="app-list-icon href">
                <div class="ico">
                    <img src="images/ico/light gradient/tie.png" />
                </div>
                <span>我</span>
            </div>
            <div class="app-list-icon href">
                <div class="ico">
                    <img src="images/ico/light gradient/tower.png" />
                </div>
                <span>这台路由</span>
            </div>
            <div class="app-list-icon href">
                <div class="ico">
                    <img src="images/ico/light gradient/conveyor.png" />
                </div>
                <span>文件传输</span>
            </div>
            <div class="app-list-icon href">
                <div class="ico">
                    <img src="images/ico/light gradient/workspace.png" />
                </div>
                <span>备忘录</span>
            </div>
            <div class="app-list-icon href">
                <div class="ico">
                    <img src="images/ico/light gradient/bill.png" />
                </div>
                <span>打印</span>
            </div>
        </div>

    </div>
</div>
