<!DOCTYPE html>
<% _api = JSON.parse(APIJ) %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            font-family:sans-serif;
        }
        .box {
            border-radius: 10px;
            padding:5px;
            border:1px solid #272727;
        }
    </style>
</head>
<body>
    <h1>Driver App</h1>

</body>
</html>