h1,
h2,
h3,
h4,
h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", "Hiragino Sans GB", "Microsoft Yahei UI Light", "Microsoft Yahei UI", "微软雅黑 UI Light", "微软雅黑 UI", "微软雅黑", STHeiti, sans-serif;
}
.fixradius {
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.fa {
  transform: none;
}
.tab {
  position: relative;
  z-index: 9999;
  display: table;
  margin: 0px auto 15px 0px;
}
.tab > div {
  display: table-cell;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  color: #727272;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  width: 90px;
  padding: 3px 9px;
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: center;
}
.tab > div * {
  pointer-events: none;
}
.tab > div:hover {
  border-color: #959595;
  color: #474747;
}
.tab > div[selected] {
  border: 1px solid #101010;
  background: #525252;
  color: #fff;
}
.tab > div:active {
  border-color: #444444;
  color: #cacaca;
  background: #464646;
}
.tab > div:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-right: none !important;
}
.tab > div:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-left: none !important;
}
.tagtxt {
  font-size: 10px;
  display: inline-block;
  color: #a5a5a5;
  border: 1px solid #a5a5a5;
  padding: 3px 15px;
  border-radius: 2em;
}
.tagtxt i {
  margin-right: 2px;
}
.devicecard_mini {
  text-align: center;
  border-radius: 12px;
  padding: 3px;
  position: relative;
  border: 1px solid #ccc;
  background: #ffffff;
  margin-top: 15px;
}
.devicecard_mini > div {
  border-radius: 9px;
  border: 1px solid #ebebeb;
  background: #fff;
  padding: 25px;
  position: relative;
  z-index: 999;
}
.devicecard_mini:before {
  border: 1px solid #ccc;
  top: 0;
  content: ' ';
  background: #ffffff;
  display: block;
  height: 22px;
  width: 22px;
  position: absolute;
  left: 50%;
  margin-left: -11px;
  top: -7px;
  transform: rotate(45deg);
  border-radius: 3px;
}
.devicecard_mini:after {
  content: ' ';
  background: #ffffff;
  display: block;
  height: 22px;
  width: 44px;
  position: absolute;
  left: 50%;
  margin-left: -22px;
  top: 0;
}
.devicecard_mini img {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}
.devicecard_mini .devicename {
  color: #4a4a4a !important;
  font-size: 21px;
  font-weight: bold;
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-bottom: 1px !important;
  margin-top: 2px;
}
.devicecard_mini .devicemisc {
  color: #999999;
  margin-bottom: 25px;
  margin-top: 5px;
  font-size: 14px;
}
.device-listitem {
  display: table;
  table-layout: fixed;
  margin-bottom: 40px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #f9f9f9;
}
.device-listitem > div {
  display: table-cell;
  vertical-align: middle;
}
.device-listitem > div:nth-child(1) {
  width: 37px;
}
.device-listitem > div:nth-child(1) div {
  border-radius: 999em;
  width: 12px;
  height: 12px;
  background: #2bbd25;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px #2bbd25;
  margin-right: 25px;
}
.device-listitem > div:nth-child(2) {
  width: 95px;
}
.device-listitem > div:nth-child(2) div {
  width: 70px;
  height: 70px;
  margin-right: 25px;
}
.device-listitem > div:nth-child(2) div img {
  max-width: 70px;
  max-height: 70px;
}
.device-listitem > div:nth-child(3) {
  width: 100%;
}
.device-listitem > div:nth-child(3) p:first-of-type {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}
.device-listitem > div:nth-child(3) p:last-of-type {
  font-size: 13px;
}
.device-listitem[offline] {
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.device-listitem[offline] > div:nth-child(1) {
  width: 37px;
}
.device-listitem[offline] > div:nth-child(1) div {
  border-radius: 999em;
  width: 12px;
  height: 12px;
  background: #494949;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none;
  margin-right: 25px;
}
.action_btn_large {
  text-align: center;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 50px;
  padding-right: 10px;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 0px;
  margin-bottom: 15px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  border: 1px solid #efefef;
  /*border-bottom: 1px solid #ececec;*/
}
.action_btn_large > div:first-child {
  display: table-cell;
  color: #333333;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  width: 50px;
  vertical-align: middle;
}
.action_btn_large > div:first-child i,
.action_btn_large > div:first-child img {
  vertical-align: middle;
  display: inline-block;
}
.action_btn_large > div:first-child img {
  height: 20px;
  width: 20px;
}
.action_btn_large > div:first-child i {
  opacity: 0.7;
}
.action_btn_large > div:last-child {
  display: table-cell;
  color: #333333;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  text-align: left;
  width: 100%;
  vertical-align: middle;
  font-size: 0.7em;
  padding-left: 2px;
}
.action_btn_large > div:last-child > :first-child {
  display: block;
  font-size: 1.3em;
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  opacity: 1;
}
.action_btn_large > div:last-child > :last-child {
  display: block;
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  opacity: 0.7;
}
.action_btn_large:hover {
  border: 1px solid #d6d6d6;
}
.action_btn_large:hover > div {
  transform: translateX(3px);
}
.action_btn_large * {
  pointer-events: none;
}
.action_btn_large:active {
  border: 1px solid transparent;
  background: #353535;
}
.action_btn_large:active > div {
  color: #f3f3f3;
  transform: translateX(3px) translateY(2px);
}
.action_btn_tiny {
  -moz-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  padding-top: 7px;
  display: inline-block;
  width: 32%;
  margin-bottom: 5px;
  color: #4f4f4f;
  cursor: default;
}
.action_btn_tiny * {
  pointer-events: none;
}
.action_btn_tiny:hover {
  opacity: 0.9;
}
.action_btn_tiny:hover > div:nth-child(1) {
  transform: scale(1.1);
}
.action_btn_tiny:active {
  opacity: 0.5;
  transform: scale(0.95);
}
.action_btn_tiny:active > div:nth-child(1) {
  -moz-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
  transform: scale(1);
  opacity: 0.7;
}
.action_btn_tiny > div {
  display: block;
  text-align: center;
}
.action_btn_tiny > div:nth-child(2) {
  font-size: 1em;
  margin-bottom: 7px;
}
.action_btn_tiny > div:nth-child(2) span,
.action_btn_tiny > div:nth-child(2) b {
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}
.action_btn_tiny > div:nth-child(2) span {
  height: 1.4em;
  font-size: 0.8em;
  opacity: 0.5;
}
.action_btn_tiny > div:nth-child(1) {
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  margin-bottom: 7px;
}
.action_btn_tiny > div:nth-child(1) i {
  display: block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 1000em;
  background: #02a5f8;
  color: #fff;
  line-height: 40px;
}
.action_btn_tiny > div:nth-child(1) img {
  border-radius: 1000em;
  display: block;
  height: 40px;
}
img {
  -ms-interpolation-mode: bicubic;
}
.fixactive * {
  pointer-events: none;
}
.noselect {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
.nowrap {
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.charSplitter {
  margin-top: 40px;
}
.charSplitter span {
  color: #eee;
  background: #333;
  display: inline-block;
  padding: 0.23em 0.8em;
  font-size: 1.1em;
  border-radius: 1000em;
  min-width: 55px;
  text-align: center;
}
.hdivider {
  margin: 30px 0 30px 0;
  height: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.ratio-1-1 {
  position: relative;
}
.ratio-1-1:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/
}
.ratio-1-1 > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ratio-2-1 {
  position: relative;
}
.ratio-2-1:before {
  content: "";
  display: block;
  padding-top: 50%;
  /* initial ratio of 1:1*/
}
.ratio-2-1 > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bignum {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  display: inline-block;
  width: 72px;
  height: 72px;
  /*border: 1px solid rgba(255,255,255,0.4);*/
  border-radius: 16px;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  transform: translateY(0px);
  text-align: center;
  box-shadow: 0 2px 29px rgba(0, 0, 0, 0.1);
}
.bignum * {
  pointer-events: none;
}
.bignum h1 {
  padding-top: 12px;
  padding-bottom: 0;
  display: block;
  margin: 0;
  margin-bottom: 5px;
  font-size: 28px;
  line-height: 28px;
}
.bignum span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}
.bignum:hover {
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  background: #ffffff;
  /*border: 1px solid rgba(255,255,255,0);*/
  color: #6c6c6c;
}
.bignum:active {
  -moz-transition: all ease-out 0.1s;
  -o-transition: all ease-out 0.1s;
  -webkit-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
  background: #888888;
  color: #000000;
}
.ui.button {
  background: rgba(100, 100, 100, 0.1);
}
.ui.button * {
  pointer-events: none !important;
}
.font {
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", "Hiragino Sans GB", "Microsoft Yahei UI Light", "Microsoft Yahei UI", "微软雅黑 UI Light", "微软雅黑 UI", "微软雅黑", STHeiti, sans-serif;
}
.edge-hidden {
  visibility: hidden;
}
.il {
  display: inline-block;
}
.splitter {
  display: inline-block;
  width: 1px;
  background: rgba(255, 255, 255, 0.4);
  line-height: 40%;
}
.table {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
}
.centerimg {
  min-width: 100%;
  height: 100%;
  display: inline-block;
}
.window {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}
.absolute {
  position: absolute;
}
.cut {
  margin-bottom: 50px;
  margin-top: 50px;
  height: 1px;
  background: #ddd;
  text-align: left;
  position: relative;
}
.cut > span {
  position: absolute;
  top: -12px;
  left: 45px;
  padding: 3px 13px;
  color: #363636;
  font-size: 13px;
  display: inline-block;
  border-radius: 3px;
  letter-spacing: 4px;
  /*background: #858687 url(../images/noise.png);*/
  background: white;
  background-size: 260px 252px;
  border: 1px solid rgba(0, 0, 0, 0);
  font-weight: bold;
}
.cut > span.btn {
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  font-weight: normal;
  color: #b5b5b5;
}
.cut > span.btn * {
  pointer-events: none;
}
.cut > span.btn:hover {
  background: #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  color: #141414;
}
.cut > span.btn:active {
  background: #2fafff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: #ffffff;
}
.cut.right {
  text-align: center;
}
.cut.right > span {
  left: auto;
  right: 45px;
}
.user-attrcard {
  margin: 15px;
  margin-left: 0;
  margin-right: 30px;
  display: inline-block;
  table-layout: fixed;
  width: 200px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  background: white;
}
.user-attrcard .line:nth-child(1) {
  height: 27px;
  width: 100%;
  display: inline-table;
  table-layout: fixed;
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.5);
}
.user-attrcard .line:nth-child(1) .cell {
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  white-space: nowrap;
}
.user-attrcard .line:nth-child(1) .cell:nth-child(1) {
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: auto;
  text-align: left;
}
.user-attrcard .line:nth-child(1) .cell:nth-child(2) {
  text-wrap: none;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-align: right;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.3);
  width: 70%;
}
.user-attrcard .line:nth-child(2) {
  height: 230px;
  text-align: center;
}
.user-attrcard .line:nth-child(2) .avatar {
  display: inline-block;
  height: 80px;
  width: 80px;
  overflow: hidden;
  position: relative;
  border-radius: 999em;
  -webkit-backface-visibility: hidden;
  margin-top: 10px;
}
.user-attrcard .line:nth-child(2) .avatar img {
  min-width: 100%;
  height: 100%;
  display: inline-block;
}
.user-attrcard .line:nth-child(2) h1 {
  font-size: 20px;
}
.user-attrcard .line:nth-child(2) iframe {
  display: block;
  height: 200px;
  width: 100%;
  border: none;
  overflow: hidden;
}
.user-attrcard .line:nth-child(3) {
  height: 40px;
  text-align: center;
  width: 100%;
  display: table;
}
.user-attrcard .line:nth-child(3) h1 {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  color: white;
  font-size: 17px;
  font-weight: lighter;
}
.timeline {
  display: block;
}
.timeline .gobtn {
  opacity: 1;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 332px;
  display: table;
  color: #aaa;
  margin: 20px auto 0 auto;
}
.timeline div:last-of-type .line {
  display: none;
}
.timeline .t-tile {
  display: table;
  table-layout: fixed;
  position: relative;
  padding-top: 8px;
  padding-bottom: 30px;
}
.timeline .t-tile .cell {
  vertical-align: top;
}
.timeline .t-tile .line {
  position: absolute;
  top: 67px;
  bottom: 0;
  left: 144px;
  width: 2px;
  background: rgba(0, 0, 0, 0.1);
}
.timeline .t-tile .cell:nth-child(1) > div {
  display: table-cell;
  width: 120px;
  height: 50px;
  vertical-align: middle;
  text-align: right;
  padding: 0 20px 0 0;
  color: rgba(0, 0, 0, 0.4);
}
.timeline .t-tile .cell:nth-child(1) > div span {
  border-radius: 100em;
  font-weight: bold;
}
.timeline .t-tile .cell:nth-child(2) > div {
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: 999em;
  -webkit-backface-visibility: hidden;
  width: 50px;
  text-align: center;
  border-radius: 100em;
  height: 50px;
  background: #ffffff;
  color: #cb1818;
  font-size: 1.2em;
  vertical-align: middle;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  line-height: 50px;
}
.timeline .t-tile .cell:nth-child(2) > div img {
  min-width: 100%;
  height: 100%;
  display: inline-block;
}
.timeline .t-tile .cell:nth-child(2) > div:hover {
  background: #f1f1f1;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.timeline .t-tile .cell:nth-child(3) > div {
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  background: #ffffff;
  /*padding: 13px 25px 15px 25px;*/
  border-radius: 7px;
  min-width: 150px;
  max-width: 700px;
  margin-left: 20px;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.timeline .t-tile .cell:nth-child(3) > div:hover {
  background: #f1f1f1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.timeline .t-tile .cell:nth-child(3) > div:before {
  visibility: hidden;
  position: absolute;
  content: "";
  display: block;
  left: -4px;
  top: 17px;
  width: 15px;
  height: 15px;
  background: #fff;
  transform: rotate(45deg);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}
.timeline .t-tile .cell:nth-child(3) > div:after {
  visibility: hidden;
  position: absolute;
  content: "";
  display: block;
  left: 0px;
  top: 13px;
  width: 15px;
  height: 23px;
  background: #fff;
}
.timeline .t-tile .cell:nth-child(3) > div header {
  font-size: 17px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}
.timeline .t-tile .cell:nth-child(3) > div footer {
  font-size: 10px;
  display: block;
  text-align: right;
}
.timeline .t-tile .cell:nth-child(3) > div p {
  font-size: 12px;
}
.ui.button {
  padding-top: 0.4em !important;
  padding-bottom: 0.4em !important;
}
edge-titlebar > :first-child {
  box-shadow: 0px 0px 1px #000000;
}
.scroller {
  overflow: hidden;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}
.rightarea {
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 260px;
  right: 0;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  overflow-y: auto;
}
.rightarea .toolhang {
  text-align: right;
  position: relative;
}
.rightarea .toolhang .ui.button {
  width: 40px;
}
.rightarea .toolhang .nav {
  position: absolute;
  top: 0;
  line-height: 30px;
  color: #b4b4b4;
}
.rightarea .usercard {
  cursor: default;
  height: 150px;
  width: 240px;
  text-align: center;
  border-radius: 5px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-table;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  border: 1px solid #ddd;
}
.rightarea .usercard .avatar {
  width: 80px;
  max-width: 80px;
  min-width: 80px;
  vertical-align: top;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.rightarea .usercard .avatar div:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
.rightarea .usercard .avatar div:last-child h3 {
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  margin-top: 15px;
  font-size: 1em;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 30px;
  border: 1px solid #f0f0f0;
  color: #9d9d9d;
}
.rightarea .usercard .avatar div:last-child:hover h3 {
  border: 1px solid #2fafff;
  color: #2fafff;
}
.rightarea .usercard .avatar div:first-child {
  position: relative;
}
.rightarea .usercard .avatar div:first-child:after {
  position: absolute;
  display: block;
  right: 6px;
  bottom: 3px;
  height: 13px;
  width: 13px;
  background: #ff8b15;
  content: " ";
  border-radius: 999em;
  box-shadow: 0 0 0 2px #ffffff;
}
.rightarea .usercard .avatar img {
  border: 1px solid rgba(100, 100, 100, 0.1);
  display: inline-block;
  border-radius: 999em;
  position: relative;
  width: 70px;
  height: 70px;
  vertical-align: top;
}
.rightarea .usercard .info {
  padding-left: 20px;
  width: 160px;
  max-width: 160px;
  min-width: 160px;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  position: relative;
}
.rightarea .usercard .info .actionbar {
  margin-top: 15px;
  font-size: 1.1em;
  color: #9d9d9d;
  position: absolute;
  bottom: 0;
  right: 0;
}
.rightarea .usercard .info .actionbar > div {
  display: inline-block;
  margin-right: 1px;
  padding: 3px 0;
  text-align: center;
  width: 40px;
  border-radius: 333px;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  transform: scale(0.9);
}
.rightarea .usercard .info .actionbar > div:hover {
  transform: scale(1);
  background: #2fafff;
  color: #fff;
}
.rightarea .usercard .info > b {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 5px;
  white-space: nowrap;
}
.rightarea .usercard .info a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  white-space: nowrap;
  font-size: 1.1em;
}
.rightarea .usercard .info span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
}
.rightarea .usercard .info span i {
  color: #38e221;
}
.leftarea {
  border-right: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1) inset;
  width: 260px;
  /*background: #2fafff;*/
  /*background: rgba(54,89,194,1);
    background: -moz-linear-gradient(45deg, rgba(54,89,194,1) 0%, rgba(54,89,194,1) 1%, rgba(70,179,219,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(54,89,194,1)), color-stop(1%, rgba(54,89,194,1)), color-stop(100%, rgba(70,179,219,1)));
    background: -webkit-linear-gradient(45deg, rgba(54,89,194,1) 0%, rgba(54,89,194,1) 1%, rgba(70,179,219,1) 100%);
    background: -o-linear-gradient(45deg, rgba(54,89,194,1) 0%, rgba(54,89,194,1) 1%, rgba(70,179,219,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(54,89,194,1) 0%, rgba(54,89,194,1) 1%, rgba(70,179,219,1) 100%);
    background: linear-gradient(45deg, rgba(54,89,194,1) 0%, rgba(54,89,194,1) 1%, rgba(70,179,219,1) 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3659c2', endColorstr='#46b3db', GradientType=1 );*/
  position: absolute;
  background: url(../images/noise.png) #65747a;
  background-size: 75px 75px;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 60px;
  padding-left: 35px;
  padding-right: 35px;
  color: #fff;
}
.leftarea .location-title {
  font-size: 1.7em;
  margin-top: 0;
  margin-bottom: 60px;
  color: #fff;
}
.leftarea h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.leftarea .input {
  font-size: 0.9em;
  margin: 30px 0px 20px 0px;
  display: block;
}
.leftarea .input > input {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 999em !important;
}
.leftarea .input i {
  width: auto !important;
  right: 30px !important;
  top: -1px !important;
}
.leftarea .toolarea {
  text-align: center;
}
.splash {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 99999;
  display: table;
  text-align: center;
  -moz-perspective: 500px 500px;
  -ms-perspective: 500px 500px;
  -webkit-perspective: 500px 500px;
  perspective: 500px 500px;
}
.splash div {
  background: #fff;
  transition: all ease 0.8s;
  opacity: 0;
  transform: translateY(10px) scale(0.8) rotateX(-30deg);
  vertical-align: middle;
}
.splash div:hover {
  opacity: 1;
  transform: scale(1);
}
.splash div:hover h1 {
  opacity: 1;
  transform: translateY(0px);
}
.splash div:active {
  transition: transform ease 1s, opacity ease 0.5s;
  transform: scale(1.2);
  opacity: 0;
}
.splash img {
  vertical-align: middle;
  border-radius: 15px;
  height: 100px;
  width: 100px;
  /*border: 3px solid rgba(255,255,255,0.1);*/
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.splash h1 {
  transition: all ease 0.8s;
  color: #9d9d9d;
  font-size: 1.2em;
  opacity: 0;
  margin-top: 15px;
  margin-bottom: 0px;
  transform: translateY(-10px);
}
