<!DOCTYPE html>
<% _api = JSON.parse(APIJ) %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            font-family:sans-serif;
        }
        .box {
            border-radius: 10px;
            padding:5px;
            border:1px solid #272727;
        }
    </style>
</head>
<body>
    <h1>Test Interface</h1>
    <form method="post" target="_blank" action="/" style="margin:5px; margin-bottom:50px; ">
        <label>Method:</label>
        <input class="box" name="func" />
        <label>Args:</label>
        <input class="box" name="args" style="width:250px;" />
        <input type="submit"/>
    </form>
    <div>
        <% for(var i in _api.f) { %>
        <div style="margin:5px; cursor:default;" onclick="document.getElementsByName('func')[0].value =this.innerHTML;"><%=i %></div>
        <% }%>
    </div>
</body>
</html>