body{
	padding:0;
	margin:0;
    overflow:hidden;
	font-family: 'Helvetica', '微软雅黑 Light', 'Segoe UI Light';
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.relative-wrap {
    position:relative;
    height:100%;
    overflow:auto;
}

.mainpage-menu {
    position:absolute;
    right:50px;
    top:50px;
    text-align:right;
    z-index:5;
}

.background {
    position:absolute;
    height:100%;
    width:100%;
    overflow:hidden;
    background:white;
    /*box-shadow: 0px 0px 15px #000;*/
}

.background div{
    position:absolute;
    width:100%;
    height:100%;
    z-index:2;
    /*background-image:url("./line-5x5.png");*/
    /*opacity:0.5;*/
    background:rgba(0, 0, 0, 0.15);
}

.background img {
    position:absolute;
    z-index:1;
    max-width:110%;
    min-height:100%;
    left: -5%;
    top: -5%;

    
}

.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

.button, .transit {
    transition: all, ease-in, 0.3s;
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
}


.transit.menu-slow {
    transition: all ease 0.8s;
}

.button {
    position:relative;
    display:inline-block;
    border-radius:55px;
    width:55px;
    height:55px;
    text-align:left;
    background:rgba(0,0,0,0.2);
    margin-bottom:25px;
    color:#fff;
    white-space:nowrap;
    overflow:hidden;
    border: 1px solid rgba(255,255,255,0);
    cursor:pointer;
    /*font-family:'Segoe UI', 'Helvetica';*/
    font-weight:bold;
    font-size:18px;
    vertical-align:middle;
}
.button_hover {
    background:rgba(0, 0, 0, 0.5);
    color:white;
    /*border: 1px solid rgba(255,255,255,1);*/
}
.button_hover:before {
    color:white;
}

.button_press {
    color:white;
    border: 1px solid #FFF;
    background:rgba(47, 175, 255, 1);
    transform:scale(0.95);
    transition: all, ease-out, 0.1s;
}

.button_press .avatar {
    transform:scale(0.9);
}

.button .avatar {
    width:55px;
    height:55px;
    vertical-align:top;
    padding:0;
    margin:0;
    border-radius:1000px;
    display:inline;
}

.button span {
    line-height:55px;
}
.button:before {
    width:55px;
    height:55px;
    line-height:55px;
    text-align:center;
    font-size:23px;
    text-shadow:0px 0px 6px rgba(0,0,0,0.3);
}


.button-wifi:before { content: '\e802'; } /* '' */
.button-desktop:before { content: '\e801'; } /* '' */
.button-search:before { content: '\e803'; } /* '' */
.button-doc:before { content: '\e805'; } /* '' */
.button-home:before { content: '\e804'; } /* '' */
.button-bell:before { content: '\e806'; } /* '' */



.mainpage-title {
    position:relative;
    left:0;
    right:0;
    text-align:center;
    color: rgba(40,40,40,1);
    top: 180px;
}

.mainpage-title h1 {
    font-size:50px;
    /*font-family: "Segoe UI", 'Helvetica';*/
    font-weight: 600;
    display:inline;
}

.mainpage-title .title {
    letter-spacing: -3px;
    font-size:80px;
}

.mainpage-title .description {
    font-size:18px;
    line-height:28px;
}

.title.darkBG {
    color:white;
    text-shadow:0px 0px 100px rgba(0,0,0,0.6);
}

.description.darkBG {
    color:white;
    display:block;
    margin-top:23px;
    text-shadow:0px 0px 50px rgba(0,0,0,0.9);
}


.mainpage-notifyicon {
    position:absolute;
    left:50px;
    top:50px;
    color:white;
    font-size:23px;
}


.button-bell {
    border: 1px solid transparent;
    background: transparent;
}

.button-bell.button_press {
    color:white;
    border: 1px solid rgba(255, 255, 255, 1);
    background:rgba(243, 178, 7, 1);
    color:white;
    transform:scale(0.95);
    transition: all, ease-out, 0.1s;
}

.button-bell.notification:after {
    display:block;
    content:"";
    position:absolute;
    background: rgb(255,46,0);
    border:1px solid rgb(255,46,0);
    width:8px;
    height:8px;
    border-radius:100px;
    bottom:15px;
    right:15px;
    transition: all, ease-in, 0.3s;
    transform:translate3d(0,0,0);
}

.mask {
    background: rgba(0,0,0,0.8);
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    opacity:0;
    z-index:-100;
    transition: all ease 0.8s, z-index linear 1s;
}

body.mode-menu>.content {
    transition: all ease 0.9s;
}
body.mode-menu>.background, body.mode-menu>.content, body.mode-menu>.mask {
    transform: translateX(300px);
    -webkit-transform: translateX(300px);
}

body.mode-menu .mask {
    opacity:0.7;
    transition: all ease 0.8s, z-index linear 0s;
    z-index:100;
}


.menuzone {
    background:#272525;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:300px;
    color: white;
    text-align:center;
}

.menuzone:after {
    position:absolute;
    content:"";
    background:url("./shadow.png");
    background-repeat:repeat-y;
    left:285px;
    width:15px;
    top:0;
    bottom:0;
}


.mainpage-entry {
    position:absolute;
    bottom:60px;
    left:0;
    right:0;
}

.entry_animation_wrap {
    border-radius:100px;
    box-sizing:border-box;
    position:absolute;
    border:1px solid rgba(255, 255, 255, 0);
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.entry_animation_wrap.bottom {
    border:1px solid rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0);
    transition: background ease 0.7s, border ease-in 2s, box-shadow ease 3s;
}

.entry_animation_wrap.top {
    opacity: 1;
    animation: entry_shine 3s ease infinite;
    -webkit-animation: entry_shine 3s ease infinite;
}

.entry_button:hover > .entry_animation_wrap.bottom {
    background: rgba(47, 175, 255, 1);
    border:1px solid rgba(47, 175, 255, 1);
    box-shadow: 0px 0px 0px rgba(47, 175, 255, 1);
    transition: background linear 0.3s, box-shadow linear 0s;
}

.entry_button {
    height: 100px;
    width: 100px;
    font-size:35px;
    color:white;
    line-height:100px;
    text-align:center;
    margin-right:auto;
    margin-left:auto;
    position:relative;
    cursor:pointer;
}

@keyframes entry_shine {
    0% {
        border:1px solid rgba(255, 255, 255, 0);
        background: rgba(0,0,0,0.1);
    }
    20% {
        border:1px solid rgba(255, 255, 255, 0);
    }
    40% {
        border:1px solid rgba(255, 255, 255, 1);
    }
    100% {
        border:1px solid rgba(255, 255, 255, 0);
        background: rgba(0,0,0,0.1);
    }
 }


@-webkit-keyframes entry_shine {
    0% {
        border:1px solid rgba(255, 255, 255, 0);
        background: rgba(0,0,0,0.1);
    }
    20% {
        border:1px solid rgba(255, 255, 255, 0);
    }
    40% {
        border:1px solid rgba(255, 255, 255, 1);
    }
    100% {
        border:1px solid rgba(255, 255, 255, 0);
        background: rgba(0,0,0,0.1);
    }
}


.page-transit {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:red;
    z-index:9999;
    width:50px;
    height:50px;
    border-radius:9999px;
}

.page-transit:hover {
    width:2000px;
    border-radius:9999px;
    height:2000px;
}

.search-bar {
    position:relative;
    width:100%;
    height:200px;
    transform: translateY(-200px);
    background: rgba(255, 255, 255, 1);
}

.search-mask {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(255, 255, 255, 0);
}

.search-bar {
    transition: all ease 0.3s;
    color:rgb(54, 54, 54);
    border-bottom:1px solid rgba(0,0,0,0.1);
}

#search-input {
    border:none;
    font-size:80px;
	font-family: 'Helvetica', '微软雅黑 Light', 'Segoe UI Light';
    overflow:hidden;
    width:100%;
    display:block;
    height: 90px;
    outline:none;
    resize:none;
}

.search-bar > .wrap {
    padding:50px;
    transition: all ease 0.1s;
    transform: translateY(-50px);
    opacity:0;
}

body.mode-search > .search-mask {
    z-index:999;
    background: rgba(255, 255, 255, 0.75);
    opacity:1;
}

body.mode-search > .search-mask > .search-bar {
    transform: translateY(0);
    transition: all cubic-bezier(.46,.38,.24,.98) 0.7s, z-index ease 1s;
}

body.mode-search > .search-mask > .search-bar > .wrap {
    transform: translateY(0);
    opacity:1;
    transition: all cubic-bezier(.46,.38,.24,.98) 1s;
}

body.mode-search>.background {
}

body.mode-search > .content {
    opacity: 0;
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}


