<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Edge/Landscape</title>
    <link rel='stylesheet' href='semantic/dist/semantic.css' />
    <link href="lib/fonts/HelveticaNeueLight.css" rel="stylesheet" />
    <link href="lib/fonts/entypo.css" rel="stylesheet" />
    <link href="lib/fonts/auxico.css" rel="stylesheet" />
    <link href="lib/fonts/font-awesome.css" rel="stylesheet" />
    <link href="styles/main.css" rel="stylesheet" />
    <link href="styles/landscape.css" rel="stylesheet" />
    <script src="lib/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="semantic/semantic.js"></script>
    <script src="lib/plugins/CSSPlugin.js"></script>
    <script src="lib/plugins/CSSRulePlugin.js"></script>
    <script src="lib/TweenLite.js"></script>
    <script src="lib/TweenMax.js"></script>
    <script src="lib/plugins/EaselPlugin.js"></script>
    <script src="lib/TimelineLite.js"></script>
    <script src="lib/TimelineMax.js"></script>
    <script type="text/javascript" src="lib/isotope.js"></script>
    <script type="text/javascript" src="semantic/semantic.js"></script>
    <script type="text/javascript" src="lib/riot-patched.js"></script>
    <script src="lib/edge.js"></script>
    <meta charset="utf-8" />
</head>
<body>
    <edge-titlebar light network="EmergeLabs" app="Landscape" avatar="images/test.gif" username="test"></edge-titlebar>

    <div class="titlebar-new">
        <div><i class="ico-grid"></i></div>
        <div selected><i class="ico-profile-male"></i></div>
        <div><i class="ico-mobile"></i></div>
        <div><i class="ico-dial"></i></div>
    </div>

    <div class="toolbar-new">
        <div class="place">当前网络</div>
        <div class="filters">
            <span>
                <i class="ico-esc"></i>
                显示历史
            </span>
            <span>
                <i class="ico-eye"></i>
                探索模式
            </span>
        </div>
        <div class="actions">
            <span><i class="icon-right-open-mini"></i>用户</span>
        </div>
    </div>

    <div class="footerbar">
        <div></div>
        <div>
            <i class="ico-grid2" selected></i>
            <i class="ico-menu"></i>
        </div>
        <div>
            <div><span><b>4</b> 房间</span> | <span><b>14</b> 用户</span> | <span><b>2</b> 设备</span></div>
        </div>
    </div>
    <div class="scroller" style="display: block;">
        <div class="usercard_new" style="background: url(images/wires.jpg);">
            <div class="raise">
                <div class="avatar">
                    <img src="images/BGTEST.jpg" />
                </div>
                <h1>My Name is Bigmeat</h1>
                <h2><i class="fa fa-apple"></i> Bigmeat</h2>
            </div>
            <div class="actionbar_new">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><i class="icon-chat"></i></div>
                <div class="cell"><i class="icon-paper-plane"></i></div>
                <div class="cell"><i class="icon-dot-3"></i></div>
            </div>
            <div class="header">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-tumblr"></i>
            </div>
        </div>
        <div class="usercard_new" style="background: url(../images/net.jpg);">
            <div class="raise">
                <div class="avatar">
                    <img src="../images/noise.gif" />
                </div>
                 <h1>好球</h1>
                <h2>三分钟前</h2>
            </div>
            <div class="actionbar_new">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><i class="icon-chat"></i></div>
            </div>
            <div class="header">
                <i class="fa fa-tumblr"></i>
            </div>
        </div>
        <div class="usercard_new" nobg>
            <div class="raise">
                <div class="avatar">
                    <img src="../images/test.gif" />
                </div>
                <h1>Amos 2</h1>
                <h2>三分钟前</h2>
            </div>
            <div class="actionbar_new">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><i class="icon-chat"></i></div>
                <div class="cell"><i class="icon-paper-plane"></i></div>
                <div class="cell"><i class="icon-dot-3"></i></div>
            </div>
            <div class="header">
                <i class="fa fa-wechat"></i>
                <i class="fa fa-weibo"></i>
            </div>
        </div>
        <div class="usercard_new" style="background: url(../images/bg/v.jpg);">
            <div class="raise">
                <div class="avatar">
                    <img src="../images/creeper.jpg" /></div>
                <h1>Mike Luan</h1>
                <h2>三分钟前</h2>
            </div>
            <div class="actionbar_new">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><i class="icon-chat"></i></div>
                <div class="cell"><i class="icon-paper-plane"></i></div>
                <div class="cell"><i class="icon-dot-3"></i></div>
            </div>
            <div class="header">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-github-alt"></i>
            </div>
        </div>


        <div class="cut"><span class="btn">查看历史用户 <b>53</b></span></div>

        <div nobg class="devicecard_new">
            <div class="avatar">
                <img src="../images/iphone.png" />
            </div>
            <div class="raise">
                <h1>My Iphone</h1>
                <h2>Mike Luan</h2>
                <h2 class="later"><i class="fa fa-link"></i> 192.168.1.1</h2>
            </div>
            <div class="actionbar_new">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><i class="icon-chat"></i></div>
                <div class="cell"><i class="icon-paper-plane"></i></div>
                <div class="cell"><i class="icon-dot-3"></i></div>
            </div>
            <div class="header">
                <span><i class="fa fa-wifi"></i> <i class="fa fa-bolt"></i> 高速</span>
            </div>
        </div>

        <div nobg class="devicecard_new">
            <div class="avatar">
                <img src="images/printer-large.png" />
            </div>
            <div class="raise">
                <h1>HP Printer</h1>
                <h2>Mike Luan</h2>
                <h2 class="later"><i class="fa fa-link"></i> 192.168.1.1</h2>
            </div>
            <div class="actionbar_new">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><i class="icon-chat"></i></div>
                <div class="cell"><i class="icon-paper-plane"></i></div>
                <div class="cell"><i class="icon-dot-3"></i></div>
            </div>
            <div class="header">
                <span><i class="fa fa-wifi"></i> <i class="fa fa-bolt"></i> 高速</span>
            </div>
        </div>
        
    </div>
    <div class="scroller" style="display: none;">

        <div class="uc usercard">
            <div class="bg" style="background: url(images/bg/c.jpg);">
                <h5><i class="icon-sina-weibo"></i> <i class="icon-github"></i> <i class="icon-tumblr"></i></h5>
            </div>
            <div class="avatar" style="background: url(images/creeper.jpg);"></div>
            <div class="chat"></div>
            <h1>我的名字叫肉贝</h1>
            <!--<h4>我要爆炸啦 我要当AJI人我要当AJI人我要当AJI人</h4>-->

            <div class="devices">
                <div class="cell">
                    <i class="fa fa-apple"></i>
                    <span>BigmeatBigmeatBigmeat</span>
                </div>
                <div class="cell divider"></div>
                <div class="cell">
                    <span>13</span>
                    <span>拥有设备</span>
                </div>
            </div>

            <div class="actionbar">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><i class="icon-chat"></i></div>
                <div class="cell"><i class="icon-paper-plane"></i></div>
                <div class="cell"><i class="icon-dot-3"></i></div>
            </div>
            <!--<h6>Action Bar</h6>-->
        </div>

        <div class="uc usercard">
            <div class="bg" style="background: url(images/haha.gif);">
                <h5><i class="icon-sina-weibo"></i> <i class="icon-github"></i> <i class="fa fa-wechat"></i></h5>
            </div>
            <div class="avatar" style="background: url(images/BGTEST.jpg);"></div>
            <div class="chat"></div>
            <h1>龙大哥</h1>
            <!--<h4>我要爆炸啦 我要当AJI人我要当AJI人我要当AJI人</h4>-->

            <div class="devices">
                <div class="cell">
                    <i class="fa fa-apple"></i>
                    <span>MBP八星八箭特别版</span>
                </div>
                <div class="cell divider"></div>
                <div class="cell">
                    <span>9999999</span>
                    <span>拥有设备</span>
                </div>
            </div>

            <div class="actionbar">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><i class="icon-chat"></i></div>
                <div class="cell"><i class="icon-paper-plane"></i></div>
                <div class="cell"><i class="icon-dot-3"></i></div>
            </div>
            <!--<h6>Action Bar</h6>-->
        </div>

        <div class="uc usercard">
            <div class="bg" style="background: url(images/bg/bg3.jpg);">
                <h5><i class="icon-sina-weibo"></i> <i class="icon-github"></i> <i class="fa fa-wechat"></i></h5>
            </div>
            <div class="avatar" style="background: url(images/bg/aji.jpg);"></div>
            <div class="chat"></div>
            <h1>Mr.AFK</h1>
            <!--<h4>我要爆炸啦 我要当AJI人我要当AJI人我要当AJI人</h4>-->

            <div class="devices">
                <div class="cell">
                    <span>5</span>
                    <span>拥有设备</span>
                </div>
            </div>

            <div class="actionbar">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><i class="icon-chat"></i></div>
            </div>
            <!--<h6>Action Bar</h6>-->
        </div>

    </div>
    <div class="scroller" style="display: none;">
        <div class="uc usercard devicecard">
            <div class="bg pure" style="background: #1c79c3;">
                <!--<h5><i class="fa fa-exclamation-triangle"></i> 墨量低下</h5>-->
                <!--<h5><i class="fa fa-wifi"></i> 2.4G</h5>-->
                <h5><i class="fa fa-wifi"></i> 低速</h5>
            </div>
            <div class="notebar"><i class="fa fa-exclamation-triangle"></i> 墨量低下</div>
            <div class="avatar2" style="background: url(images/printer-large.png);"></div>
            <div class="chat"></div>
            <h1>MyJet</h1>
            <h4>HP LaserJet 200 color MFP M276</h4>
            <div class="devices">
                <div class="cell">
                    <i class="fa fa-question-circle"></i>
                    <span>未知设备</span>
                </div>
                <div class="cell divider">
                </div>
                <div class="cell">
                    <i class="icon-link"></i>
                    <span>192.168.1.1</span>
                </div>
            </div>

            <div class="actionbar">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><img src="images/doge.gif" /></div>
                <div class="cell"><i class="fa fa-print"></i></div>
            </div>
        </div>

        <div class="uc usercard devicecard">
            <div class="bg pure" style="background: #424242;">
                <!--<h5><i class="fa fa-exclamation-triangle"></i> 墨量低下</h5>-->
                <!--<h5><i class="fa fa-wifi"></i> 2.4G</h5>-->
                <h5><i class="fa fa-wifi"></i><i class="fa fa-bolt"></i> 5G 高速</h5>
            </div>
            <!--<div class="notebar"><i class="fa fa-exclamation-triangle"></i> 电量低</div>-->
            <div class="avatar2" style="background: url(images/dell.png);"></div>
            <div class="chat"></div>
            <h1>X</h1>
            <h4>Latitude XT2</h4>
            <div class="devices">
                <div class="cell">
                    <i class="fa fa-windows"></i>
                    <span>Windows 8.1</span>
                </div>
                <div class="cell divider">
                </div>
                <div class="cell">
                    <i class="icon-link"></i>
                    <span>192.168.1.5</span>
                </div>
            </div>

            <div class="actionbar">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><img src="images/doge.gif" /></div>
                <div class="cell"><i class="fa fa-paper-plane-o"></i></div>
                <div class="cell"><i class="icon-folder"></i></div>
                <div class="cell"><i class="icon-dot-3"></i></div>
            </div>
        </div>

        <div class="uc usercard devicecard">
            <div class="bg" style="background: url(images/bg/aji.jpg);">
                <!--<h5><i class="fa fa-exclamation-triangle"></i> 墨量低下</h5>-->
                <!--<h5><i class="fa fa-wifi"></i> 2.4G</h5>-->
                <h5><i class="fa fa-wifi"></i><i class="fa fa-bolt"></i> 5G 高速</h5>
            </div>
            <!--<div class="notebar"><i class="fa fa-exclamation-triangle"></i> 电量低</div>-->
            <div class="avatar2" style="background: url(images/iphone.png);"></div>
            <div class="chat"></div>
            <h1>Haoqiu's Iphone</h1>
            <h4>Apple, inc</h4>
            <div class="devices">
                <div class="cell">
                    <i class="fa fa-apple"></i>
                    <span>iOS 7</span>
                </div>
                <div class="cell divider">
                </div>
                <div class="cell">
                    <i class="icon-link"></i>
                    <span>192.168.1.5</span>
                </div>
            </div>

            <div class="actionbar">
                <div class="cell"><i class="icon-home"></i></div>
                <div class="cell"><img src="images/son.jpg" /></div>
                <div class="cell"><i class="fa fa-paper-plane-o"></i></div>
            </div>
        </div>

        <div class="uc usercard devicecard">
            <div class="bg pure" style="background: #424242;">
                <!--<h5><i class="fa fa-exclamation-triangle"></i> 墨量低下</h5>-->
                <!--<h5><i class="fa fa-wifi"></i> 2.4G</h5>-->
                <h5><i class="fa fa-signal"></i> 蓝牙4.0</h5>
            </div>
            <!--<div class="notebar"><i class="fa fa-exclamation-triangle"></i> 电量低</div>-->
            <div class="avatar2" style="background: url(images/bluetooth.png);"></div>
            <div class="chat"></div>
            <h1>iBeacon_8338</h1>
            <h4>Apple, inc</h4>
            <div class="devices">
                <div class="cell">
                    <i class="fa fa-question-circle"></i>
                    <span>未知设备</span>
                </div>
                <div class="cell divider">
                </div>
                <div class="cell">
                    <i class="icon-location"></i>
                    <span>非常近</span>
                </div>
            </div>

            <div class="actionbar">
                <div class="cell"><i class="icon-home"></i></div>
            </div>
        </div>


    </div>
    <div class="scroller" style="display: none;">
        <div class="here-part">
            <div></div>
        </div>
    </div>


    <script type="riot/tag" src="components/util.html">
    </script>
    <script type="riot/tag" src="components/v-center.html">
    </script>
    <script type="riot/tag" src="components/edge-me.html">
    </script>
    <script type="riot/tag" src="components/fluid-container.html">
    </script>
    <script type="riot/tag" src="components/fluid-bg.html">
    </script>
    <script type="riot/tag" src="components/app-list.html">
    </script>
    <script type="riot/tag" src="components/entry-btn.html">
    </script>
    <script type="riot/tag" src="components/edge-titlebar-2.html">
    </script>
    <script>
        $(document).ready(function () {
            riot.compile(function () {
                riot.mount("*");
            });
        });
    </script>
</body>
</html>

