<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EmergeLab - music-list</title>
    <link rel="shortcut icon" href=favicon.ico>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="fonts/auxico.css"/>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/music.css"/>
</head>
<body>
<div class="music-bg"></div>
<header class="header">
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-square"></i>
            <a href="index.html">EmergeLab</a>
        </li>
        <li class="active" id="music"><a href="#">music</a></li>
    </ol>
    <div class="widget-list">
        <a href="#" class="widget-user">
            <img src="img/avatar.gif">
        </a>
    </div>
</header>
<div class="main">
    <div class="toolbar">
        <div class="btn-group">
            <button type="button" id="listViewBtn" class="btn btn-default active">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="music-grid.html" id="gridViewBtn" class="btn btn-default">
                <i class="fa fa-th-large"></i>
            </a>
            <button type="button" id="addViewBtn" class="btn btn-default">
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" id="editViewBtn4List" class="btn btn-default">
                <i class="fa fa-edit"></i>
            </button>
        </div>
    </div>

    <header class="music-header">
        <h1>All songs
            <i class="fa fa-play"></i>
            <i class="fa fa-random"></i>
            <i class="fa fa-laptop"></i>
        </h1>
        <p>310songs,6hrs 23 mintues</p>
    </header>

    <aside class="music-aside">
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#"><i class="fa fa-music"></i> All songs</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-user"></i> FLJ’s songs</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-user"></i> Starbucks’s songs</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-laptop"></i>
                    <span class="data-popup" data-popup="10 songs, 23 mintues">Airplay songs</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-spotify"></i>
                    <span class="data-popup" data-popup="310 songs, 6 hrs 23 mintues">Spotify</span>
                </a>
            </li>
        </ul>

        <div class="music-action">
            <a href="music.html">
                <i class="fa fa-play"></i>
                <span>let out the beast...</span>
            </a>
        </div>
    </aside>

    <div class="content nav-content">
        <div class="music-table">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th><input type="checkbox"/></th>
                    <th>song name</th>
                    <th>time</th>
                    <th>album</th>
                    <th>created</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>time</td>
                    <td>album</td>
                    <td>created</td>
                    <td></td>
                </tr>
                <tr class="active">
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>1:20</td>
                    <td>album name</td>
                    <td></td>
                    <td>
                        <i class="fa fa-play"></i>
                        <i class="fa fa-laptop"></i>
                        <i class="fa fa-lock"></i>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>10:20</td>
                    <td>album name</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>time</td>
                    <td>album</td>
                    <td>created</td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>1:20</td>
                    <td>album name</td>
                    <td></td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>10:20</td>
                    <td>album name</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>time</td>
                    <td>album</td>
                    <td>created</td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>1:20</td>
                    <td>album name</td>
                    <td></td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>10:20</td>
                    <td>album name</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>time</td>
                    <td>album</td>
                    <td>created</td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>1:20</td>
                    <td>album name</td>
                    <td></td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>10:20</td>
                    <td>album name</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>time</td>
                    <td>album</td>
                    <td>created</td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>1:20</td>
                    <td>album name</td>
                    <td></td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>song name</td>
                    <td>10:20</td>
                    <td>album name</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- music toolbar -->
<div class="music-toolbar music-nav-toolbar" id="musicToolbar">
    <ul class="clearfix">
        <li>
            <a href="#" class="active">
                <i class="fa fa-trash-o"></i>
                <h5>Delete</h5>
            </a>
        </li>
        <li>
            <a href="#" class="specil">
                <i class="fa fa-laptop"></i>
                <h5>AirPlay</h5>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-download"></i>
                <h5>Download</h5>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-lock"></i>
                <h5>Privacy</h5>
            </a>
        </li>
    </ul>
</div>

<script src="vendor/requirejs/require.js"></script>
<script type="text/javascript">
    require(['./scripts/common'], function () {
        require(['main/main-music']);
    });
</script>
</body>
</html>