<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EmergeLab - music</title>
    <link rel="shortcut icon" href=favicon.ico>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="fonts/auxico.css"/>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/music.css"/>
</head>
<body>
<div class="music-bg"></div>

<header class="header play-header">
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-square"></i>
            <a href="index.html">EmergeLab</a>
        </li>
        <li class="active" id="music"><a href="#">music</a></li>
    </ol>
    <div class="widget-list">
        <a href="#" class="widget-user">
            <img src="img/avatar.gif">
        </a>
    </div>
</header>

<div class="main">
    <div class="toolbar sr-only">
        <div class="btn-group">
            <button type="button" class="btn btn-default">
                <i class="fa fa-reorder"></i>
            </button>
            <button type="button" class="btn btn-default active">
                <i class="fa fa-th-large"></i>
            </button>
            <button type="button" class="btn btn-default">
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-default">
                <i class="fa fa-edit"></i>
            </button>
        </div>
    </div>
    <!-- /toolbar -->

    <div class="widget-list">
        <section class="widget widget-playlist">
            <div class="icon">
                <a href="music-grid.html">
                    <i class="fa fa-indent"></i>
                </a>
            </div>
            <div class="title">play list</div>
        </section>
        <section class="widget widget-airplay">
            <div class="icon">
                <i class="fa fa-laptop"></i>
            </div>
            <div class="title">
                <i class="fa fa-user"></i> Airplay
                let out the beast <i class="fa fa-toggle-off"></i>
            </div>
        </section>
    </div>
    <!-- /widget-list -->

    <div class="content play-content">
        <div class="music-player">
            <div id="playerCover" class="player-cover">
                <div class="cover-wrap">
                    <img src="" alt="" data-src="img/cover.jpg"/>
                </div>
            </div>
            <div id="musicToolbar" class="music-toolbar">
                <ul>
                    <li>
                        <a href="#" class="btn btn-default">download</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default">delete</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default">xiami</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-default">add to</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<footer class="footer">
    <div class="player-action">
        <div class="player-opts">
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-backward"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-play"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-forward"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="player-progress">
            <time class="pass-time">1:02</time>
            <div class="player-progress-bar">
                <div class="progress-bar-curr"></div>
            </div>
            <time class="last-time">3:02</time>
        </div>
        <div class="clearfix player-info">
            <div class="player-detail">
                <span>music name/detail</span>
                <span>63 songs | 4 hr 8 min</span>
            </div>
            <a href="#" class="player-device">
                <i class="fa fa-laptop"></i>
            </a>
            <a href="#" class="player-order">
                <i class="fa fa-random"></i>
            </a>
            <div class="player-volume">
                <div class="volume-progress-bar">
                    <div class="progress-bar-curr"></div>
                    <div class="handle volume-btn"></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="vendor/requirejs/require.js"></script>
<script type="text/javascript">
    require(['./scripts/common'], function (common) {
       require(['main/main-music']);
    });
</script>
</body>
</html>