<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EmergeLab - photos</title>
    <link rel="shortcut icon" href=favicon.ico>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="fonts/auxico.css"/>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/photos.css"/>
</head>
<body>
<header id="photoHeader" class="header"></header><!-- /header -->

<div id="photoMain" class="main">
    <div id="photoActionBar" class="actionbar"></div><!-- /actionbar -->
    <div id="photoInfoBar" class="infobar"></div><!-- /infobar -->
    <div id="photoContent" class="content"></div><!-- /content -->
</div>

<footer id="photoFooter" class="footer"></footer><!-- /footer -->
<script src="vendor/requirejs/require.js"></script>
<script type="text/javascript">
    require(['./scripts/common'], function () {
        require(['main/main-photos-dev']);
    });
</script>
</body>
</html>