._M_container{
    border: solid;
    border-radius: 2px;
    header{
        color: #0000FF;
    }
}
._M_main{
    display: flex;
    display: -webkit-flex;

}
._M_left{
    
    img{
        height: 40px;
        width: 40px;
    }
}
._M_right{

}
._M_title{
    
}
._M_content{
    display: flex;
    display: -webkit-flex;
}
._M_fun1{

}
._M_fun2{

}
._M_fun3{

}