@import "_mobile1_0";
@import "_windows1_0";
// @import "_mobile2_0";
.text_overflow{
    display:block;/*内联对象需加*/
    width:20em;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}

*{ 
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
}
#c_container{
    position: relative;
    z-index: 100;
    bottom: 50px;
    padding-left:121px;
    opacity: 0;
    margin-top: 50px;
}

._M_container {
    background-color: #eee;
    position:absolute;
    width: 100%;
    opacity: 0;
    ._M_item{
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        margin:5px 6px;
        height: 210px;
        background-color:#fff;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
    }
    ._M_title {
        @extend .text_overflow;
        color: #0000FF;
        a{
            display: block;
            font-size: 17px;
            margin: 3px 10px;
            text-align: left;
        }
    }
    hr {
        margin:5px 10px 13px 10px;
    }
    footer {
        position: absolute;
        right: 10px;
        bottom: 6px;
        color: #eeeeee;
        font-size: 1px;
    }
}
._M_left_title{
    flex-grow: 1;
    margin:0;
    padding:0;
    font-size: 20px;
}
._M_left_content{ 
    flex-grow: 4;
    width: 100%;
    img{
        opacity: 0;
    }
}
._M_main {
    flex-grow:5;
    display: flex;
    display: -webkit-flex;
}

._M_left {
    width:50%;
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}

._M_right {
    width:50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column ;
    flex-grow: 1;

}

._M_title {
    img {
        height: 20px;
        width: 20px;
    }
}
._M_right_top{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
._M_addFile{
    span{
        display: inline-block;
        position: relative;
        bottom: 3px;
    }
    margin-top: 5px;
    font-size:20px;
    color:#04c4F2;
    display: block;
}

._M_content {
    flex-grow: 1;
    display: flex;
    display: -webkit-flex;
    div{
        margin: 8px auto;
    }
}

._M_fun1 {
    flex-grow: 1;
    svg {
        width: 3px;
        height: 25px;
        margin-right:4px; 
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);   
    }

}

._M_fun2 {
    border-left: solid 1px #eee;
    flex-grow: 1;
}

._M_top,._M_bottom{
    #print_times{
        font-size: 28px;
    }
    span{
          font-size: 17px;
    }
    height: 25px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items:center;
}