<div id="menu">
    <div id="menu-area">
        <div id="menu-tab-bg"></div>
    </div>
    <div class="icon-menu generic-ico" default-color="#000" color-released="#000" id="menu-icon">
    </div>
    <div id="menu-tab-area">
        <div data-fix-opacity color-released="#FFF" class="generic-ico menu-tab-icon">
            <div class="img"><img src="/images/ico/test.gif" /></div>
            <p><%=menu1%></p>
        </div>
        <div data-fix-opacity color-released="#FFF" class="generic-ico menu-tab-icon">
            <div class="img"><img src="/images/doge.jpg" /></div>
            <p><%=menu2%></p>
        </div>
        <div data-fix-opacity color-released="#FFF" class="fa fa-bell-o generic-ico menu-tab-icon">
            <p>消息</p>
        </div>
        <div data-fix-opacity color-released="#FFF" class="icon-signal generic-ico menu-tab-icon">
            <p>网络</p>
        </div>
        <div data-fix-opacity color-released="#FFF" class="icon-search generic-ico menu-tab-icon">
            <p>搜索</p>
        </div>
        <div data-fix-opacity color-released="#FFF" class="icon-attach generic-ico menu-tab-icon">
            <p>发送</p>
        </div>
    </div>
</div>