<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EmergeLab - landscape-device </title>
  <link rel="shortcut icon" href="favicon.ico">
  <script src="//global.wifi.network/js/before.js"></script>
  <link rel="stylesheet" href="css/device.css" />
</head>

<body>
  <header class="ab-header">
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-square"></i>
        <a href="../home/">EmergeLabs</a>
      </li>
      <li class="active">
        <a href="#">Landscape</a>
      </li>
    </ol>
    <a href="#" class="user-avatar">
      <img src="../assets/img/avatar.jpg">
    </a>
  </header>
  <!-- /header -->
  <div class="main">
    <div class="ab-content">
      <div class="device-desc">
        <div class="dd-left">
          <img class="device-img" src="../assets/img/bg/printer-large.png">
          <div class="device-owner">
            <div class="inner">
              <h3><i class="ico-profile-male"></i> 拥有者 </h3>
              <h2>
                <div class="owner-avatar">
                    <img src="../assets/img/bg/creeper.jpg">
                </div>
                <span>Mike Luan</span>
              </h2>
            </div>
          </div>
        </div>
        <div class="dd-right">
          <h1 class="device-name">My Colored Printer <i class="icon-pencil"></i></h1>
          <div class="device-clients clearfix">
            <div class="dc-item">
              <img src="../assets/img/bg/dell.png"> Dell, Inc
            </div>
            <div class="dc-cut"> </div>
            <div class="dc-item">
              <i class="fa fa-android"></i>
              <span>Android OS 5.5.5</span>
            </div>
            <div class="dc-cut"> </div>
            <div class="dc-item">
              <i class="icon-compass"></i>
              <span>Safari Browser</span>
            </div>
          </div>
          <div class="device-flags clearfix">
            <div class="df-item">
              <i class="fa fa-wifi"></i> 2.4Ghz
            </div>
            <div class="df-item">
              192.168.1.1
            </div>
            <div class="df-item no-border">
              在线 3小时
            </div>
          </div>
          <div class="device-opts clearfix">
            <div class="do-item">
              <div class="inner">
                <div class="middle">
                  <i class="ico-chat"></i>
                  <span>消息</span>
                </div>
              </div>
            </div>
            <div class="do-item">
              <div class="inner">
                <div class="middle">
                  <i class="ico-clipboard"></i>
                  <span>剪贴板</span>
                </div>
              </div>
            </div>
            <div class="do-item">
              <div class="inner">
                <div class="middle">
                  <i class="ico-envelope"></i>
                  <span>文件传送</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="device-info" style="display:none;">
        <h1>设备信息</h1>
        <ul class="di-list">
          <li>
            <header>
              <div class="left-icon">
                <i class="ico-speedometer"></i>
              </div>
              <h1>网络流量</h1>
              <div class="right-icon">
                <i class="fa fa-eye-slash"></i>
              </div>
            </header>
            <div class="di-content">
              <div class="di-meter">
                <svg class="di-progress" viewBox="-60 -60 120 120" width="120" height="120">
                  <circle cx="0" cy="0" r="56" stroke="#392F32" fill="transparent"></circle>
                  <circle class="tick" cx="0" cy="0" r="56" stroke="#392F32" fill="transparent"></circle>
                </svg>
                <div class="inner">
                  <div class="middle">
                    <i class="ico-arrow-up"></i>
                    <span>53Kbps</span>
                  </div>
                </div>
              </div>
              <div class="di-meter">
                <svg class="di-progress" viewBox="-60 -60 120 120" width="120" height="120">
                  <circle cx="0" cy="0" r="56" stroke="#392F32" fill="transparent"></circle>
                  <circle class="tick" cx="0" cy="0" r="56" stroke="#392F32" fill="transparent"></circle>
                </svg>
                <div class="inner">
                  <div class="middle">
                    <i class="ico-arrow-down"></i>
                    <span>53Kbps</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <header>
              <div class="left-icon">
                <i class="ico-speedometer"></i>
              </div>
              <h1>剩余墨量</h1>
              <div class="right-icon">
                <i class="fa fa-eye-slash"></i>
              </div>
            </header>
            <div class="di-content">
              <div class="di-meter">
                <svg class="di-progress" viewBox="-60 -60 120 120" width="120" height="120">
                  <circle cx="0" cy="0" r="56" stroke="#392F32" fill="transparent"></circle>
                  <circle class="tick" cx="0" cy="0" r="56" stroke="#392F32" fill="transparent"></circle>
                </svg>
                <div class="inner">
                  <div class="middle">
                    <i class="fa fa-tint"></i>
                    <span>53CC</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <header>
              <div class="left-icon">
                <i class="ico-speedometer"></i>
              </div>
              <h1>剩余纸张</h1>
              <div class="right-icon">
                <i class="fa fa-eye-slash"></i>
              </div>
            </header>
            <div class="di-content">
              <div class="di-meter">
                <svg class="di-progress" viewBox="-60 -60 120 120" width="120" height="120">
                  <circle cx="0" cy="0" r="56" stroke="#392F32" fill="transparent"></circle>
                  <circle class="tick" cx="0" cy="0" r="56" stroke="#392F32" fill="transparent"></circle>
                </svg>
                <div class="inner">
                  <div class="middle">
                    <i class="fa fa-file-o"></i>
                    <span>500</span>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script data-main="js/main" src="js/require.js"></script>
</body>

</html>
