<!DOCTYPE html>
<html lang="zh-CN">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Edge Wifi - EmergeLabs</title>
        <link rel="shortcut icon" href="favicon.ico">
        
        <% css = css ? css : [] %>
        <% for (var i in css) { %>
            <link rel="stylesheet" href="//global.wifi.network/assets/css/<%= css[i]%>" />
        <% } %>
        
        <script src="//global.wifi.network/assets/js/before.js"></script>
        <link rel="stylesheet" href="css/main.css" />
        <script>
            window.page = "index";
        </script>
    </head>
    
    <body>
        <section class="home-bg">
            <div class="inner">
                <img alt="" data-src="img/bg.jpg" />
            </div>
        </section>
        <section class="home-mask"></section>
        <section class="welcome-page">
            <div class="content">
                <div class="center">
                    <h1>EmergeLabs</h1>
                    <p>欢迎 | Welcome</p>
                </div>
                <div class="app-btn">
                    <div class="layer shine"></div>
                    <div class="decborder"></div>
                    <div class="layer alldots">
                        <svg class="dot dots-a">
                            <circle cx="50%" cy="50%" r="25" fill="#fff"></circle>
                        </svg>
                        <svg class="dot dots-c">
                            <circle cx="50%" cy="50%" r="25" fill="#fff"></circle>
                        </svg>
                        <svg class="dot dots-b">
                            <circle class="circle-center" cx="50%" cy="50%" r="25" fill="#fff"></circle>
                        </svg>
                        <div class="tagline">
                            <b>Apps</b>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="aside widget-list">
                <a href="#" class="widget widget-user">
                <span class="title">杨小邪</span>
                <div class="icon">
                    <img src="img/avatar.jpg">
                </div>
                <span class="badge">99+</span>
            </a>
                <a href="#" class="widget widget-wifi">
                <span class="title"><b>EmergeLabs</b> 2.4Ghz</span>
                <div class="icon">
                    <img src="img/wifi.svg" alt="">
                </div>
            </a>
                <a href="#" class="widget widget-app">
                <span class="title">
                    <i class="fa fa-user"></i>
                    <i class="fa fa-desktop"></i>
                    music name
                    <i class="fa fa-play"></i>
                </span>
                <div class="icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                    <path fill="#fff" d="M96.504,1.475c-1.445-1.195-3.357-1.686-5.195-1.331L32.551,11.425c-2.965,0.569-5.108,3.163-5.108,6.181
                        v44.803c-2.127-0.803-4.418-1.263-6.821-1.263c-10.704,0-19.411,8.71-19.411,19.412S9.918,99.97,20.622,99.97
                        c10.704,0,19.412-8.709,19.412-19.411v-57.75l46.164-8.862v37.185c-2.123-0.803-4.416-1.262-6.818-1.262
                        c-10.705,0-19.412,8.708-19.412,19.412c0,10.702,8.707,19.411,19.412,19.411c10.703,0,19.41-8.709,19.41-19.411V6.329
                        C98.789,4.451,97.951,2.671,96.504,1.475z M20.622,87.38c-3.762,0-6.821-3.059-6.821-6.819c0-3.762,3.059-6.82,6.821-6.82
                        c3.761,0,6.821,3.059,6.821,6.82C27.443,84.321,24.383,87.38,20.622,87.38z M79.379,76.101c-3.762,0-6.82-3.06-6.82-6.819
                        c0-3.762,3.059-6.822,6.82-6.822c3.76,0,6.818,3.061,6.818,6.822C86.197,73.041,83.139,76.101,79.379,76.101z"/>
                    </svg>
                </div>
            </a>
            </aside>
            <footer class="footer">
                <div class="power-by">
                    <i class="fa fa-info-circle"></i>Edge Version:
                    <b>0.1 R2</b>
                </div>
            </footer>
        </section>
        <section class="user-page">
            <aside class="aside user-panel">
                <div class="row info">
                    <div class="col-xs-12">
                        <div class="avatar">
                            <img src="img/avatar.jpg" alt="" />
                        </div>
                        <div class="badges">
                            <i class="fa fa-key data-popup" data-popup="网络所有者"></i>
                        </div>
                        <h1 class="name">杨小邪</h1>
                        <h4 class="email">yangxiaoxie@gmail.com</h4>
                    </div>
                </div>
                <div class="row device">
                    <div class="col-xs-12">
                        <div class="icon">
                            <i class="fa fa-windows data-popup" data-popup="Microsoft Windows 8.1"></i>
                        </div>
                        <h3 class="name">Xiaoxie's Workstation</h3>
                        <span class="ip data-popup" data-popup="点击复制">
                            <i class="fa fa-link"></i>192.168.9.112</span>
                    </div>
                </div>
                <div class="row actions">
                    <div class="col-xs-12">
                        <a href="#" class="item">
                        <i class="fa fa-desktop"></i>
                        <p>我的设备</p>
                    </a>
                        <a href="#" class="item">
                        <i class="fa fa-bell-o"></i>
                        <p>接收通知</p>
                    </a>
                        <a href="#" class="item">
                        <i class="fa fa-hdd-o"></i>
                        <p>这台Edge</p>
                    </a>
                        <a href="#" class="item">
                        <i class="fa fa-eye"></i>
                        <p>可被发现</p>
                    </a>
                        <a href="#" class="item">
                        <i class="fa fa-cog"></i>
                        <p>个人设置</p>
                    </a>
                        <a href="#" class="item">
                        <i class="fa fa-power-off"></i>
                        <p>登出</p>
                    </a>
                    </div>
                </div>
            </aside>
            <div class="content">
                <section class="status-bar">
                    <i class="fa fa-wifi"></i>EmergeLabs (2.4Ghz) -
                    <i class="fa fa-exclamation-triangle"></i>无互联网连接</section>
                <!-- /wifi status -->
                <article class="user-message">
                    <header class="header">
                        <i class="fa fa-inbox"></i>
                        <h1>
                            <b>5</b>
                            <span>条未读消息</span>
                        </h1>
                        <div class="message-clear">
                            <div class="clear-hidden">
                                <i class="fa fa-check"></i>清空</div>
                            <div class="clear-visible">
                                <i class="fa fa-minus"></i>
                            </div>
                        </div>
                    </header>
                    <div class="message-list">
                        <div class="media message">
                            <div class="media-left media-middle message-icon">
                                <i class="fa fa-file media-object"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                lacinia congue felis in faucibus.</div>
                            <div class="media-right media-middle message-time">
                                <span>十分钟前</span>
                            </div>
                        </div>
                        <div class="media message">
                            <div class="media-left media-middle message-icon">
                                <i class="fa fa-plane media-object"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                lacinia congue felis in faucibus.</div>
                            <div class="media-right media-middle message-time">
                                <span>十分钟前</span>
                            </div>
                        </div>
                        <div class="media message">
                            <div class="media-left media-middle message-icon">
                                <i class="fa fa-file media-object"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                lacinia congue felis in faucibus.</div>
                            <div class="media-right media-middle message-time">
                                <span>十分钟前</span>
                            </div>
                        </div>
                        <div class="media message">
                            <div class="media-left media-middle message-icon">
                                <i class="fa fa-file media-object"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                lacinia congue felis in faucibus.</div>
                            <div class="media-right media-middle message-time">
                                <span>十分钟前</span>
                            </div>
                        </div>
                        <div class="media message">
                            <div class="media-left media-middle message-icon">
                                <i class="fa fa-plane media-object"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                lacinia congue felis in faucibus.</div>
                            <div class="media-right media-middle message-time">
                                <span>十分钟前</span>
                            </div>
                        </div>
                        <div class="media message">
                            <div class="media-left media-middle message-icon">
                                <i class="fa fa-file media-object"></i>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Media heading</h4>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                lacinia congue felis in faucibus.</div>
                            <div class="media-right media-middle message-time">
                                <span>十分钟前</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="app-list">
            <header class="ab-header">
                <ol class="breadcrumb">
                    <li>
                        <a href="#" class="list-back">EmergeLabs</a>
                    </li>
                </ol>
            </header>
            <div class="content">
                <div class="app-grid">
                    <ul class="clearfix">
                        <li class="app-item">
                            <a href="../landscape/" class="app">
                            <img src="img/icon/device.png" alt=""/>
                        </a>
                            <h2 class="title">landscape</h2>
                        </li>
                        <li class="app-item">
                            <a href="#" class="app">
                            <img src="img/icon/here.png" alt=""/>
                        </a>
                            <h2 class="title">file</h2>
                        </li>
                        <li class="app-item">
                            <a href="#" class="app">
                            <img src="img/icon/transfer.png" alt=""/>
                        </a>
                            <h2 class="title">sender</h2>
                        </li>
                        <li class="app-item">
                            <a href="#" class="app">
                            <img src="img/icon/printer.png" alt=""/>
                        </a>
                            <h2 class="title">printer</h2>
                        </li>
                        <li class="app-item">
                            <a href="../music/" class="app">
                            <img src="img/icon/router.png" alt=""/>
                        </a>
                            <h2 class="title">music</h2>
                        </li>
                        <li class="app-item">
                            <a href="../photos/" class="app">
                            <img src="img/icon/user.png" alt=""/>
                        </a>
                            <h2 class="title">photo</h2>
                        </li>
                        <li class="app-item">
                            <a href="#" class="app">
                            <img src="img/icon/router.png" alt=""/>
                        </a>
                            <h2 class="title">router</h2>
                        </li>
                        <li class="app-item">
                            <a href="#" class="app">
                            <img src="img/icon/setting.png" alt=""/>
                        </a>
                            <h2 class="title">setting</h2>
                        </li>
                        <li class="app-item">
                            <a href="../photos/" class="app">
                            <img src="img/icon/user.png" alt=""/>
                        </a>
                            <h2 class="title">photo</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <div class="load-mask" style="position:absolute; z-index:99999999; top:0; left:0; right:0; bottom:0; "></div>
        <script data-main="js/main" src="//global.wifi.network/assets/js/require.js"></script>
    </body>

</html>