<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EmergeLab - landscape</title>
  <link rel="shortcut icon" href="favicon.ico">
  
  <% for (var i = 0; i < css.length; i++) { %>
     <link rel="stylesheet" href="//global.wifi.network/assets/css/<%= css[i]%>" />
  <% } %>
    
  <script src="//global.wifi.network/assets/js/before.js"></script>
  <link rel="stylesheet" href="/css/landscape.css" />
  
  <script>
    window.page = "landscape";
  </script>
</head>

<body>
  <header class="ab-header">
    <ol class="breadcrumb">
      <li>
        <a href="/">EmergeLabs</a>
      </li>
      <li class="active">
        <a href="#">Landscape</a>
      </li>
    </ol>
    <a href="#" class="user-avatar">
      <img src="../assets/img/avatar.jpg">
    </a>
  </header>
  <!-- /header -->
  <div class="main">
    <div class="ab-actionbar">
      <div class="btn-group">
        <a href="#grid" class="btn btn-default active">
          <i class="ico-grid"></i>
        </a>
        <a href="#list" class="btn btn-default">
          <i class="ico-profile-male"></i>
        </a>
        <a href="#" class="btn btn-default">
          <i class="ico-mobile"></i>
        </a>
        <a href="#" class="btn btn-default">
          <i class="ico-dial"></i>
        </a>
      </div>
    </div>
    <div class="ab-toolbar">
      <a class="left" href="#">
        <i class="icon-right-open-mini"></i>用户
      </a>
      <h1 class="center">当前网络</h1>
      <div class="right">
        <div class="history">
          <i class="ico-esc"></i> 显示历史
        </div>
        <div class="discovery">
          <i class="ico-eye"></i> 探索模式
        </div>
      </div>
    </div>
    <div class="ab-content">
      <ul class="clearfix ld-grid ld-grid-user">
        <li style="background-image: url('../assets/img/bg/mountainA.jpg');">
          <header>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-tumblr"></i>
          </header>
          <div class="content">
            <div class="img-wrap">
              <img src="../assets/img/bg/bgtest.jpg" alt="" />
            </div>
            <h1 class="name">My Name is Bigmeat</h1>
            <h2 class="flag">
                    <i class="fa fa-apple"></i> Bigmeat
                </h2>
          </div>
          <footer>
            <a href="user.html">
              <i class="icon-home"></i>
            </a>
            <a href="#">
              <i class="icon-chat"></i>
            </a>
            <a href="#">
              <i class="icon-paper-plane"></i>
            </a>
            <a href="#">
              <i class="icon-dot-3"></i>
            </a>
          </footer>
        </li>
        <li style="background-image: url('../assets/img/bg/universe.jpg');">
          <header>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-tumblr"></i>
          </header>
          <div class="content">
            <div class="img-wrap">
              <img src="../assets/img/bg/bgtest.jpg" alt="" />
            </div>
            <h1 class="name">My Name is Bigmeat</h1>
            <h2 class="flag">
                    <i class="fa fa-apple"></i> Bigmeat
                </h2>
          </div>
          <footer>
            <a href="user.html">
              <i class="icon-home"></i>
            </a>
            <a href="#">
              <i class="icon-chat"></i>
            </a>
            <a href="#">
              <i class="icon-paper-plane"></i>
            </a>
            <a href="#">
              <i class="icon-dot-3"></i>
            </a>
          </footer>
        </li>
        <li class="nobg">
          <header>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-tumblr"></i>
          </header>
          <div class="content">
            <div class="img-wrap">
              <img src="../assets/img/bg/creeper.jpg" alt="" />
            </div>
            <h1 class="name">My Name is Bigmeat</h1>
            <h2 class="flag">
                    <i class="fa fa-apple"></i> Bigmeat
                </h2>
          </div>
          <footer>
            <a href="user.html">
              <i class="icon-home"></i>
            </a>
            <a href="#">
              <i class="icon-chat"></i>
            </a>
            <a href="#">
              <i class="icon-paper-plane"></i>
            </a>
            <a href="#">
              <i class="icon-dot-3"></i>
            </a>
          </footer>
        </li>
        <li style="background-image: url('../assets/img/bg/mountainA.jpg');">
          <header>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-tumblr"></i>
          </header>
          <div class="content">
            <div class="img-wrap">
              <img src="../assets/img/bg/creeper.jpg" alt="" />
            </div>
            <h1 class="name">My Name is Bigmeat</h1>
            <h2 class="flag">
                    <i class="fa fa-apple"></i> Bigmeat
                </h2>
          </div>
          <footer>
            <a href="user.html">
              <i class="icon-home"></i>
            </a>
            <a href="#">
              <i class="icon-chat"></i>
            </a>
            <a href="#">
              <i class="icon-paper-plane"></i>
            </a>
            <a href="#">
              <i class="icon-dot-3"></i>
            </a>
          </footer>
        </li>
      </ul>
      <div class="ld-content-divider">
        <span class="btn">查看历史用户 <b>53</b></span>
      </div>
      <ul class="clearfix ld-grid ld-grid-device">
        <li>
          <header>
            <i class="fa fa-wifi"></i>
            <i class="fa fa-bolt"></i>
            <span>高速</span>
          </header>
          <div class="img-wrap">
            <img src="../assets/img/bg/iphone.png" alt="" />
          </div>
          <div class="content">
            <h1 class="name">My Iphone</h1>
            <h2 class="owner">Mike Luan</h2>
            <h2 class="ip">
                      <i class="fa fa-link"></i> 192.168.1.1
                  </h2>
          </div>
          <footer>
            <a href="device.html">
              <i class="icon-home"></i>
            </a>
            <a href="#">
              <i class="icon-chat"></i>
            </a>
            <a href="#">
              <i class="icon-paper-plane"></i>
            </a>
            <a href="#">
              <i class="icon-dot-3"></i>
            </a>
          </footer>
        </li>
        <li>
          <header>
            <i class="fa fa-wifi"></i>
            <i class="fa fa-bolt"></i>
            <span>高速</span>
          </header>
          <div class="img-wrap">
            <img src="../assets/img/bg/printer-large.png" alt="" />
          </div>
          <div class="content">
            <h1 class="name">HP Printer</h1>
            <h2 class="owner">Mike Luan</h2>
            <h2 class="ip">
                <i class="fa fa-link"></i> 192.168.1.1
            </h2>
          </div>
          <footer>
            <a href="device.html">
              <i class="icon-home"></i>
            </a>
            <a href="#">
              <i class="icon-chat"></i>
            </a>
            <a href="#">
              <i class="icon-paper-plane"></i>
            </a>
            <a href="#">
              <i class="icon-dot-3"></i>
            </a>
          </footer>
        </li>
      </ul>
    </div>
  </div>
  <footer class="ab-footer">
    <div class="view-switch">
      <a href="#" class="active">
        <i class="ico-grid2"></i>
      </a>
      <a href="#">
        <i class="ico-menu"></i>
      </a>
    </div>
    <div class="right-info">
      <span><b>4</b> 房间</span> |
      <span><b>14</b> 用户</span> |
      <span><b>2</b> 设备</span>
    </div>
  </footer>
  <!-- /footer -->
  <script data-main="/js/main" src="//global.wifi.network/assets/js/require.js"></script>
</body>

</html>
