<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EmergeLab - landscape-user </title>
  <link rel="shortcut icon" href="favicon.ico">
  <script src="//global.wifi.network/assets/js/before.js"></script>
  <link rel="stylesheet" href="css/user.css" />
</head>

<body>
  <header class="ab-header">
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-square"></i>
        <a href="../home/">EmergeLabs</a>
      </li>
      <li class="active">
        <a href="#">Landscape</a>
      </li>
    </ol>
    <a href="#" class="user-avatar">
      <img src="../assets/img/avatar.jpg">
    </a>
  </header>
  <!-- /header -->
  <div class="main">
    <div class="ab-content">
      <section class="user-bg">
        <div class="page-bg">
          <div class="inner">
            <img src="" alt="" data-src="../assets/img/bg/mountainA.jpg" />
          </div>
        </div>
      </section>
      <section class="user-panel">
        <div class="user-avatar">
          <div class="inner">
            <img src="../assets/img/bg/creeper.jpg" alt="">
          </div>
        </div>
        <div class="user-info">
          <h1>Christy Rou</h1>
          <h2>0@emerge.cc or User Description</h2>
        </div>
        <div class="user-meta">
          <div class="inner">
            <div class="cell">
              <h4>设备</h4>
              <b>5</b>
            </div>
            <div class="cell">
              <h4>位置</h4>
              <b>EmergeLabs / 会议室</b>
            </div>
            <div class="cell">
              <h4>在线</h4>
              <b>5小时</b>
            </div>
          </div>
        </div>
      </section>
      <aside class="left-panel">
        <div class="curr-device">
          <div class="curr-title">
            <i class="icon-resize-small"></i> 当前设备
          </div>
          <div class="device-info">
            <div class="inner">
              <div class="wrap">
                <img src="../assets/img/bg/iphone.png">
                <p class="device-name">Bigmeat's Iphone</p>
                <p class="device-misc">3分钟前</p>
                <p class="device-ip">
                  <i class="fa fa-wifi"></i> 低速 - 192.168.1.1
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-list">
          <div class="menu-item">
            <div class="menu-icon">
              <i class="icon-chat"></i>
            </div>
            <div class="menu-text">
              <b>消息</b>
              <span> </span>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-icon">
              <i class="fa fa-briefcase"></i>
            </div>
            <div class="menu-text">
              <b>共享</b>
              <span> </span>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-icon">
              <i class="fa fa-paper-plane-o"></i>
            </div>
            <div class="menu-text">
              <b>发送文件</b>
              <span> </span>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-icon">
              <i class="fa fa-spotify"></i>
            </div>
            <div class="menu-text multi-line">
              <b>分享歌曲</b>
              <span>Spotify Webapp</span>
            </div>
          </div>
          <div class="menu-item">
            <div class="menu-icon">
              <img src="../assets/img/bg/creeper.jpg">
            </div>
            <div class="menu-text multi-line">
              <b>Minecraft</b>
              <span>Minecraft Server</span>
            </div>
          </div>
        </div>
      </aside>
      <div class="right-content">
        <div class="tab">
          <div class="btn-group">
            <button type="button" class="btn btn-default active" data-target=".user-profile">个人信息</button>
            <button type="button" class="btn btn-default" data-target=".user-timeline">时间轴</button>
          </div>
        </div>
        <div class="tab-content user-profile">
          <div class="cut">
            <span><i class="icon-tag"></i> 基本</span>
          </div>
          <ul class="user-cards">
            <li class="red private">
              <header>
                <div class="card-type">
                  <i class="fa fa-ban"></i>
                </div>
              </header>
              <div class="card-content">
                <p class="card-msg-title">
                  <i class="fa fa-circle"></i> 11条新消息
                </p>
                <div class="inner">
                  <img src="../assets/img/cover.jpg" alt="">
                </div>
                <p class="card-msg-body">
                  @riot - デザイナはに夢を見るのか,デザイナはに...
                </p>
              </div>
              <footer>
                <div class="card-name">
                  <i class="fa fa-weibo"></i> 新浪微博
                </div>
                <div class="card-cut">
                  |
                </div>
                <div class="card-account">
                  帐号
                </div>
              </footer>
            </li>
            <li class="blue">
              <header>
                <div class="card-type">
                  <i class="fa fa-smile-o"></i>
                </div>
              </header>
              <div class="card-content">
                <p class="card-msg-title">
                  <i class="fa fa-circle"></i> 11条新消息
                </p>
                <div class="inner">
                  <img src="../assets/img/bg/creeper.jpg" alt="">
                </div>
                <p class="card-msg-body">
                  @riot - デザイナはに夢を見るのか,デザイナはに...
                </p>
              </div>
              <footer>
                <div class="card-name">
                  <i class="fa fa-twitter"></i> Twitter
                </div>
                <div class="card-cut">
                  |
                </div>
                <div class="card-account">
                  帐号
                </div>
              </footer>
            </li>
            <li class="red">
              <header>
                <div class="card-type">
                  <i class="fa fa-smile-o"></i>
                </div>
              </header>
              <div class="card-content">
                <p class="card-msg-title">
                  <i class="fa fa-circle"></i> 11条新消息
                </p>
                <div class="inner">
                  <img src="../assets/img/bg/universe.jpg" alt="">
                </div>
                <p class="card-msg-body">
                  @riot - デザイナはに夢を見るのか,デザイナはに...
                </p>
              </div>
              <footer>
                <div class="card-name">
                  <i class="fa fa-twitter"></i> Twitter
                </div>
                <div class="card-cut">
                  |
                </div>
                <div class="card-account">
                  帐号
                </div>
              </footer>
            </li>
          </ul>
          <div class="cut">
            <span><i class="icon-network"></i> 设备</span>
          </div>
          <ul class="device-list">
            <li>
              <div class="left-icon">
                <span></span>
              </div>
              <div class="device-img">
                <img src="../assets/img/bg/printer-large.png">
              </div>
              <div class="device-info">
                <h1>HP Silly Printer MFP250</h1>
                <p><i class="fa fa-wifi"></i> 192.168.2.1</p>
              </div>
            </li>
            <li>
              <div class="left-icon">
                <span></span>
              </div>
              <div class="device-img">
                <img src="../assets/img/bg/iphone.png">
              </div>
              <div class="device-info">
                <h1>My Other Phone</h1>
                <p><i class="fa fa-wifi"></i> 192.168.2.1</p>
              </div>
            </li>
            <li>
              <div class="left-icon">
                <span></span>
              </div>
              <div class="device-img">
                <img src="../assets/img/bg/dell.png">
              </div>
              <div class="device-info">
                <h1>XPS</h1>
                <p><i class="fa fa-wifi"></i> 192.168.2.1</p>
              </div>
            </li>
            <li>
              <div class="left-icon">
                <span></span>
              </div>
              <div class="device-img">
                <img src="../assets/img/bg/printer-large.png">
              </div>
              <div class="device-info">
                <h1>HP Silly Printer MFP250</h1>
                <p>Offline - 三小时前在线</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="tab-content user-timeline">
          <ul class="utl-list">
            <li>
              <div class="utl-time">
                <span>2小时前</span>
              </div>
              <div class="utl-icon">
                <div class="inner">
                  <img src="../assets/img/avatar.jpg">
                </div>
              </div>
              <div class="utl-content">
                <div class="inner">
                  <header>
                    <i class="fa fa-file-text-o"></i> fuck.txt
                  </header>
                  <p>1,024 KB</p>
                  <footer><i class="fa fa-paper-plane"></i> 文件传送</footer>
                </div>
              </div>
              <div class="utl-line"></div>
            </li>
            <li>
              <div class="utl-time">
                <span>3小时前</span>
              </div>
              <div class="utl-icon">
                <div class="inner">
                  <i class="fa fa-sun-o"></i>
                </div>
              </div>
              <div class="utl-content">
                <div class="inner">
                  <header>设定卧室温度 100C°</header>
                  <p></p>
                  <footer>
                    <i class="fa fa-sliders"></i> 控制中心
                  </footer>
                </div>
              </div>
              <div class="utl-line"></div>
            </li>
            <li>
              <div class="utl-time">
                <span>4小时前</span>
              </div>
              <div class="utl-icon">
                <div class="inner">
                  <i class="fa fa-sun-o"></i>
                </div>
              </div>
              <div class="utl-content">
                <div class="inner">
                  <header>设定卧室温度 -100C°</header>
                  <p>从 v8.0 版本开始，Safari 有一个bug：对于两端对齐的导航，水平改变浏览器大小将引起绘制错误。</p>
                  <footer>
                    <i class="fa fa-sliders"></i> 控制中心
                  </footer>
                </div>
              </div>
              <div class="utl-line"></div>
            </li>
            <li>
              <div class="utl-time">
                <span>5小时前</span>
              </div>
              <div class="utl-icon">
                <div class="inner">
                  <img src="../assets/img/avatar.jpg">
                </div>
              </div>
              <div class="utl-content">
                <div class="inner">
                  <header>
                    <i class="fa fa-file-text-o"></i> fuck.txt
                  </header>
                  <p>1,024 KB</p>
                  <footer><i class="fa fa-paper-plane"></i> 文件传送</footer>
                </div>
              </div>
              <div class="utl-line"></div>
            </li>
            <li>
              <div class="utl-time">
                <span>6小时前</span>
              </div>
              <div class="utl-icon">
                <div class="inner">
                  <i class="fa fa-sun-o"></i>
                </div>
              </div>
              <div class="utl-content">
                <div class="inner">
                  <header>设定卧室温度 -100C°</header>
                  <p>从 v8.0 版本开始，Safari 有一个bug：对于两端对齐的导航，水平改变浏览器大小将引起绘制错误。导航条是在您的应用或网站中作为导航页头的响应式基础组件。它们在移动设备上可以折叠（并且可开可关），且在视口（viewport）宽度增加时逐渐变为水平展开模式。</p>
                  <footer>
                    <i class="fa fa-sliders"></i> 控制中心
                  </footer>
                </div>
              </div>
              <div class="utl-line"></div>
            </li>
            <li>
              <div class="utl-time">
                <span>7小时前</span>
              </div>
              <div class="utl-icon">
                <div class="inner">
                  <i class="fa fa-sun-o"></i>
                </div>
              </div>
              <div class="utl-content">
                <div class="inner">
                  <header>设定卧室温度 100C°</header>
                  <p></p>
                  <footer>
                    <i class="fa fa-sliders"></i> 控制中心
                  </footer>
                </div>
              </div>
              <div class="utl-line"></div>
            </li>
          </ul>
          <button type="button" class="btn btn-default more-timeline">
            <i class="fa fa-clock-o"></i> 查看 <span>John Doe</span> 的时间轴
          </button>
        </div>
      </div>
    </div>
  </div>
  <script data-main="js/main" src="js/require.js"></script>
</body>

</html>
