.user-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  background-color: transparent;
  display: none;
}
.user-page .user-panel {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  text-align: center;
  background: #1e1e1e;
  min-height: 647px;
  padding: 50px 20px 0 20px;
  color: #fff;
}
.user-page .user-panel .row {
  margin-left: 0;
  margin-right: 0;
}
.user-page .user-panel .info .avatar {
  width: 120px;
  height: 120px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 999em;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto;
}
.user-page .user-panel .info .avatar img {
  height: 120px;
  width: 120px;
}
.user-page .user-panel .info .badges {
  position: absolute;
  right: 50px;
  margin-top: -15px;
  text-align: right;
  width: auto;
}
.user-page .user-panel .info .badges i {
  font-size: 1.2em;
  color: #f8e133;
}
.user-page .user-panel .info .name {
  margin: 20px 10px;
  padding: 0;
  font-size: 28px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.user-page .user-panel .info .email {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  font-weight: 100;
}
.user-page .user-panel .device {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0 20px 10px;
  margin: 35px 10px 15px 10px;
}
.user-page .user-panel .device .icon i {
  margin-top: 10px;
  font-size: 2em;
}
.user-page .user-panel .device .name {
  font-size: 18px;
  font-weight: 100;
}
.user-page .user-panel .device .ip {
  background: rgba(0, 0, 0, 0.3);
  padding: 2px 10px;
  border-radius: 25px;
  cursor: copy;
  box-shadow: inset 0 1px 0 1px rgba(0, 0, 0, 0.2);
}
.user-page .user-panel .actions {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 25px;
}
.user-page .user-panel .actions .item {
  position: relative;
  float: left;
  width: 33.3%;
  padding: 15px 0;
}
.user-page .user-panel .actions .item:hover i {
  color: #2fafff;
  transform: translateY(-8px);
}
.user-page .user-panel .actions .item:hover p {
  transform: translateY(-17px);
  opacity: 1;
}
.user-page .user-panel .actions .item i {
  transition: all ease 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 40px;
  font-size: 30px;
}
.user-page .user-panel .actions .item p {
  transition: all ease 0.3s;
  opacity: 0;
  color: #2fafff;
  overflow: hidden;
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  margin: 0;
}
.user-page .content {
  min-width: 550px;
  position: absolute;
  left: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  overflow: auto;
  padding: 120px 80px 0 80px;
}
.user-page .content .status-bar {
  position: absolute;
  right: 30px;
  top: 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.7);
}
.user-page .content .user-message .header {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  height: auto;
}
.user-page .content .user-message .header > i {
  font-size: 40px;
  opacity: 0.7;
  height: 40px;
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.user-page .content .user-message .header > h1 {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  margin: 0 20px;
  font-size: 1.5em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.user-page .content .user-message .header > h1 span {
  opacity: 0.7;
}
.user-page .content .user-message .header .message-clear {
  position: absolute;
  right: 3px;
  width: 80px;
  top: 0;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  color: #fafafa;
  cursor: pointer;
  margin-right: 2px;
  margin-bottom: 1px;
  border-radius: 0.4257rem;
  padding: 11px 0 11px 21px;
}
.user-page .content .user-message .header .message-clear:active:hover {
  border: 1px solid #ffffff;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.05) !important;
  background-clip: border-box;
  transform: scale(0.98) translateY(2px);
}
.user-page .content .user-message .header .message-clear .clear-visible {
  transition: top 0.3s ease, transform 0.3s ease;
  line-height: 14px;
  position: relative;
  margin-right: 1.5em;
  text-align: center;
}
.user-page .content .user-message .header .message-clear .clear-hidden {
  transition: top 0.3s ease, transform 0.3s ease;
  position: absolute;
  line-height: 14px;
  top: -50%;
  left: 0;
  right: 0;
  margin-top: -0.5em;
  text-align: center;
}
.user-page .content .user-message .header .message-clear:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.user-page .content .user-message .header .message-clear:hover .clear-visible {
  transform: translateY(200%);
  right: auto;
}
.user-page .content .user-message .header .message-clear:hover .clear-hidden {
  top: 50%;
  right: 0;
}
.user-page .content .user-message .message-list .message {
  padding: 20px 15px;
  transition: all ease 0.2s;
  border-radius: 2px;
}
.user-page .content .user-message .message-list .message:hover {
  background: rgba(255, 255, 255, 0.2);
}
.user-page .content .user-message .message-list .message .media-middle.message-icon i.media-object {
  font-size: 1.7em;
}
.user-page .content .user-message .message-list .message .media-body {
  padding-left: 15px;
}
.user-page .content .user-message .message-list .message .media-right.message-time {
  line-height: 100%;
  font-size: 0.8em;
  padding-left: 50px;
  min-width: 40px;
  text-align: right;
  white-space: nowrap;
  opacity: 0.7;
}
