<% include partials/pageHead %>

<div class="window noverflow"><div id="main-bg" class="background"><img data-bg-src="images/bg/universe.jpg"/></div></div>
<div class="window" id="main-mask"></div>
<div class="window" id="main-content" style="color:#fff;">
    <div id="main-title" class="v-auto-center">
        <object id="main-icon" height="150" width="150" data="/images/home_ico.svg"
                type="image/svg+xml"></object>
        <h1>EmergeLabs</h1>
        <p>Helloworld<br /></p>
    </div>

    <div id="main-toolbar-right" style="position:absolute; top: 50px; right:50px; text-align:right;">
        <div class="main-toolico"><span>1@emerge.cc</span><i><img src="/images/doge.jpg" /></i></div><br />
        <div class="main-toolico"><span>EmergeLabs</span><i class="fa fa-wifi"></i></div><br />
        <div class="main-toolico"><span>Bigmeat</span><i class="fa fa-laptop"></i></div><br />
        <div class="main-toolico"><span>搜索</span><i class="icon-search"></i></div><br />
        <div class="main-toolico"><span>发送</span><i class="icon-attach"></i></div>
    </div>

    <div id="main-toolbar-left" style="position:absolute; top: 50px; left:50px; text-align:left;">
        <div class="main-toolico" do-not-retract color-pressed="#ff7100"><i class="fa fa-bell-o"></i><span> 收到新文件 </span></div>
    </div>
    <div id="main-entry-button" class="typcn typcn-th-small"></div>
</div>
<div id="powered-by"><i class="icon-info-circled"></i> Edge Version: </div>
<% include partials/applist %>


<!--
    <script src="../public/javascripts/jquery-2.1.3.js"></script>
    <script src="../public/javascripts/TimelineLite.js"></script>
    <script src="../public/javascripts/TimelineMax.js"></script>
    <script src="../public/javascripts/TweenLite.js"></script>
    <script src="../public/javascripts/TweenMax.js"></script>
-->

<!--<script>

</script>-->

<% include partials/pageEnd %>