<% include partials/pageHead %>

<!--<div class="window noverflow"><div id="main-bg" class="background"><img data-bg-src="images/bg/bg.jpg" /></div></div>-->
<!--<div class="window" id="main-mask"></div>-->
<div class="window" id="main-content" style="background:url('images/bg/mountain.jpg.no'); background-size:cover;">
    <% include partials/menu %>
    <div class="pushed-by-menu" id="app-content" style=" overflow:hidden; position:absolute;background:white;">
        <div class="noverflow text-shadow-subtle" style="height:140px; padding-bottom:20px; position:absolute; left:0; right:0; top:0; width:100%; background:url('/images/bg/bg3.jpg.no') rgba(47,175,255,1); background-size:cover;">
            <!--<div style="position:relative; top:0; height:80px; font-size:15px; line-height:80px; overflow:hidden; color:#FFF; right:20px; text-align:right;">Landscape</div>-->
            <div style="position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.1);"></div>
            <div style="position:absolute; left:0; top:20px; height:50px; font-size:30px; line-height:50px; overflow:hidden; color:#FFF; right:0px; text-align:center; font-weight:normal;"><i class="icon-map" style="height:50px; line-height:50px; text-align:center; width:50px;display:inline-block; "></i></div>
            <!--<div style="position:absolute; left:0; top:75px; font-size:23px; overflow:hidden; color:#FFF; right:0px; text-align:center; font-weight:lighter;">EmergeLabs</div>-->
            <!--<div style="color:white; padding:15px; bottom:0px; left:0; right:0; text-align:center; position:absolute;">
                <div style="border-top:1px solid rgba(0, 0, 0, 0.4);cursor:pointer; margin-right:5px; margin-left:5px; font-size:15px; display:inline-block; border-radius:9999px; background:rgba(47,175,255,1);  height:35px; width:auto; text-align:center; padding-left:10px; padding-right:10px; line-height:35px;"><i class="icon-monitor"></i><span>&nbsp;15</span></div>
                <div style="border-bottom:1px solid rgba(0, 0, 0, 0.4);cursor:pointer; margin-right:5px; margin-left:5px; font-size:15px; display:inline-block; border-radius:9999px; background:rgba(0, 0, 0,0.2);  height:35px; width:auto; text-align:center; padding-left:10px; padding-right:10px; line-height:35px;"><i class="icon-user"></i><span>&nbsp;15</span></div>
            </div>-->
            <!--<div style="position:absolute; right:25px; top:27px; color:white; font-size:20px;">
                <i style="margin-left: 15px; " class="icon-home"></i>
                <span style="font-size: 15px;">EmergeLabs</span>
                <i style="margin-left: 15px; " class="icon-user"></i>
                <i style="margin-left: 15px; " class="icon-monitor"></i>
            </div>-->
        </div>
        <div class="noverflow" style="height:50px; padding-bottom:20px; position:absolute; left:0; right:0; top:90px; width:100%; background:rgba(0, 0, 0,0.1); background-size:cover;">
            <!--<div style="position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.1);"></div>
            <div style="position:absolute; left:0; top:0px; height:40px; font-size:15px; line-height:40px; overflow:hidden; color:#FFF; right:0px; text-align:center; font-weight:normal;"><i class="icon-signal"></i>&nbsp;EmergeLabs</div>
            <div style="color:white; bottom:7px; left:0; right:0; text-align:right; position:absolute;">
                <div style="border-top:1px solid rgba(0, 0, 0, 0.4);cursor:pointer; margin-right:5px; margin-left:5px; font-size:15px; display:inline-block; border-radius:9999px; background:rgba(47,175,255,1);  height:25px; width:auto; text-align:center; padding-left:10px; padding-right:10px; line-height:25px;"><i class="icon-monitor"></i><span>&nbsp;15</span></div>
                <div style="border-bottom:1px solid rgba(0, 0, 0, 0.4);cursor:pointer; margin-right:5px; margin-left:5px; font-size:15px; display:inline-block; border-radius:9999px; background:rgba(0, 0, 0,0.2);  height:25px; width:auto; text-align:center; padding-left:10px; padding-right:10px; line-height:25px;"><i class="icon-user"></i><span>&nbsp;15</span></div>
            </div>-->

            <div style="position:absolute; left:18px; top: 0; line-height:30px; display:inline-block; border-radius:15px; margin-top:10px; margin-bottom:10px; padding-left:8px; padding-right:8px; font-weight:normal; color:#fff">
                <i class="icon-search"></i>
                <span style="font-size:12px; position:relative; display:inline-block; top:-1px; margin-right:2px;">搜索</span>
            </div>
            <div style="margin-left:2px; margin-right:2px; line-height:30px; display:inline-block; background:#FFF; border-radius:5px; margin-top:10px; margin-bottom:10px; padding-left:8px; padding-right:8px; font-weight:normal; color:#535353"><i class="icon-list"></i></div>
            <div style="margin-left:2px; margin-right:2px; line-height:30px; display:inline-block; background:#FFF; border-radius:5px; margin-top:10px; margin-bottom:10px; padding-left:8px; padding-right:8px; font-weight:normal; color:#535353"><i class="icon-layout"></i></div>
        </div>

        <div style="top:140px; position:absolute; bottom:0; left:0; width:200px; border-right:1px solid #e4e4e4; background:rgb(237, 240, 242); color:rgb(90, 91, 91); padding:15px; text-align:left;">

            <div style="margin-bottom:30px;margin-top:10px;">
                <div>这里</div>
                <div style="line-height:30px; margin-top:10px; border-radius:15px; padding-left:8px; padding-right:8px; font-weight:normal; position:relative;">
                    <i class="icon-network"></i>
                    <span style="font-size:12px; position:relative; display:inline-block; top:-1px; margin-right:2px;">EmergeLabs</span>
                </div>
                <div style="line-height:30px; margin-top:10px; background:rgba(255,255,255,0.9); border-radius:15px; padding-left:8px; padding-right:8px; font-weight:normal;position:relative; ">
                    <i class="icon-user"></i>
                    <span style="font-size:12px; position:relative; display:inline-block; top:-1px; margin-right:2px;">用户</span>
                    <span style="position:absolute; top:4px; font-size:10px; text-align:center; line-height:23px; right:4px; color:white; background:rgba(100,100,100,1); display:inline-block; min-width:23px; height:23px; border-radius:999px;">15</span>
                </div>
                <div style="line-height:30px; margin-top:10px; border-radius:15px; padding-left:8px; padding-right:8px; font-weight:normal;position:relative; ">
                    <i class="icon-monitor"></i>
                    <span style="font-size:12px; position:relative; display:inline-block; top:-1px; margin-right:2px;">设备</span>
                </div>
                <div style="line-height:30px; margin-top:10px; border-radius:15px; padding-left:8px; padding-right:8px; font-weight:normal;position:relative; ">
                    <i class="icon-lock"></i>
                    <span style="font-size:12px; position:relative; display:inline-block; top:-1px; margin-right:2px;">我</span>
                </div>
            </div>


            <div style="margin-bottom:30px;margin-top:10px;">
                <div>漫游</div>
                <div style="line-height:30px; margin-top:10px; border-radius:15px; padding-left:8px; padding-right:8px; font-weight:normal;position:relative; ">
                    <i class="icon-users"></i>
                    <span style="font-size:12px; position:relative; display:inline-block; top:-1px; margin-right:2px;">好友</span>
                </div>
                <div style="line-height:30px; margin-top:10px; border-radius:15px; padding-left:8px; padding-right:8px; font-weight:normal;position:relative; ">
                    <i class="icon-globe"></i>
                    <span style="font-size:12px; position:relative; display:inline-block; top:-1px; margin-right:2px;">我的全部设备</span>
                </div>
            </div>


        </div>
        <div style="top:140px; position:absolute; bottom:0; right:300px; left:200px; text-align:left; overflow:hidden;">
            <div style="font-size:22px; font-weight: lighter; color:#484848; margin:25px; ">用户</div>
            <div style="margin-left:15px; margin-right:15px;">

                <div style="color:#777777; margin-left:10px; font-weight:normal; font-size:25px;  text-align:left; ">D</div>

                <div style="display:inline-block; text-align:center; margin:10px;">
                    <img style="border-radius: 15px; background: #777777; width:80px; height:80px; margin-bottom:2px;" src="images/doge.jpg" />
                    <div style="font-size:14px;">Doge</div>
                </div>
                <div style="display:inline-block; text-align:center; margin:10px;">
                    <img style="border-radius: 15px; background: #777777; width:80px; height:80px; margin-bottom:2px;" src="images/doge.jpg" />
                    <div style="font-size:14px;">Doge</div>
                </div>
                <div style="display:inline-block; text-align:center; margin:10px;">
                    <img style="border-radius: 15px; background: #777777; width:80px; height:80px; margin-bottom:2px;" src="images/doge.jpg" />
                    <div style="font-size:14px;">Doge</div>
                </div>
                <div style="display:inline-block; text-align:center; margin:10px;">
                    <img style="border-radius: 15px; background: #777777; width:80px; height:80px; margin-bottom:2px;" src="images/doge.jpg" />
                    <div style="font-size:14px;">Doge</div>
                </div>
            </div>
        </div>
        <div style="top:140px; position:absolute; bottom:0; right:0; width:300px; border-left:1px solid #e4e4e4; padding:10px;"></div>

        <div style="bottom:0; left:0; right:0; height:30px; background:#dedede; position:absolute; line-height:30px; font-size:10px; color:#717171">StatusBar</div>
    </div>
</div>
<script>

</script>
<% include partials/applist %>

<!--
    <script src="../public/javascripts/jquery-2.1.3.js"></script>
    <script src="../public/javascripts/TimelineLite.js"></script>
    <script src="../public/javascripts/TimelineMax.js"></script>
    <script src="../public/javascripts/TweenLite.js"></script>
    <script src="../public/javascripts/TweenMax.js"></script>
-->
<% include partials/pageEnd %>