<% include partials/pageHead %>

<!--<div class="window noverflow"><div id="main-bg" class="background"><img data-bg-src="images/bg/bg.jpg" /></div></div>-->
<!--<div class="window" id="main-mask"></div>-->
<div class="window" id="main-content">
    <% include partials/menu %>
    <div class="pushed-by-menu" id="app-content">
        <div class="noverflow text-shadow-subtle" style="height:250px; padding-bottom:20px; position:absolute; left:0; right:0; top:0; width:100%; background:rgba(47,175,255,1); background-size:cover;">
            <!--<div style="position:relative; top:0; height:80px; font-size:15px; line-height:80px; overflow:hidden; color:#FFF; right:20px; text-align:right;">Landscape</div>-->
            <div style="position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.1);"></div>
            <div style="position:absolute; left:0; top:35px; height:150px; font-size:50px; line-height:150px; overflow:hidden; color:#FFF; right:0px; text-align:center; font-weight:normal;"><i class="icon-map" style="height:100px; line-height:100px; text-align:center; width:100px; border-radius:25px; display:inline-block; background:rgba(0, 0, 0, 0.1);"></i></div>
            <div style="position:absolute; left:0; top:175px; font-size:18px; overflow:hidden; color:#FFF; right:0px; text-align:center; font-weight:lighter;">Landscape</div>
            <!--<div style="color:white; padding:15px; bottom:0px; left:0; right:0; text-align:center; position:absolute;">
                <div style="border-top:1px solid rgba(0, 0, 0, 0.4);cursor:pointer; margin-right:5px; margin-left:5px; font-size:15px; display:inline-block; border-radius:9999px; background:rgba(47,175,255,1);  height:35px; width:auto; text-align:center; padding-left:10px; padding-right:10px; line-height:35px;"><i class="icon-monitor"></i><span>&nbsp;15</span></div>
                <div style="border-bottom:1px solid rgba(0, 0, 0, 0.4);cursor:pointer; margin-right:5px; margin-left:5px; font-size:15px; display:inline-block; border-radius:9999px; background:rgba(0, 0, 0,0.2);  height:35px; width:auto; text-align:center; padding-left:10px; padding-right:10px; line-height:35px;"><i class="icon-user"></i><span>&nbsp;15</span></div>
            </div>-->
        </div>
    </div>
</div>
<script>

</script>
<% include partials/applist %>

<!--
    <script src="../public/javascripts/jquery-2.1.3.js"></script>
    <script src="../public/javascripts/TimelineLite.js"></script>
    <script src="../public/javascripts/TimelineMax.js"></script>
    <script src="../public/javascripts/TweenLite.js"></script>
    <script src="../public/javascripts/TweenMax.js"></script>
-->
<% include partials/pageEnd %>