<edge-me>
    <div class="left">
        <div class="table scroll">
            <div class="usercard row">
                <div class="avatar"><img src="../images/test.gif" /></div>
                <div class="badges">
                    <i class="admin data-popup fa fa-key" data-popup="网络所有者"></i>
                </div>
                <h1>JAR包包包包包包</h1>
                <h4>mymoney@oracle.com</h4>
            </div>
            <div class="row">
                <div class="devicecard cell">
                    <i class="fa fa-windows data-popup" data-popup="Microsoft Windows 8.1"></i>
                    <h3>Mike's Workstation</h3>
                    <span class="ip data-popup" data-popup="点击复制"><i class="fa fa-link"></i> 192.168.9.112</span>
                </div>
            </div>
            <div class="split row"></div>
            <div class="row">
                <div class="board cell">
                    <div>
                        <div>
                            <div>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                <g>
                                <path fill="none" stroke="#010101" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
		                        M96.371,72.438c0,0.903-0.73,1.632-1.633,1.632H5.469c-0.901,0-1.632-0.729-1.632-1.632V10.929c0-0.901,0.731-1.632,1.632-1.632
		                        h89.269c0.902,0,1.633,0.731,1.633,1.632V72.438z" />
                                <line fill="none" stroke="#010101" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="31.827" y1="92.577" x2="68.841" y2="92.577" />
                                <line fill="none" stroke="#010101" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="40.62" y1="83.325" x2="59.589" y2="83.325" />
                            </g>
                        </svg>
                                <p>我的设备</p>
                            </div>
                            <div>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                <path fill="none" stroke="#010101" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" d="M2.267,73.861
	                        c7.909,0,14.32-6.41,14.32-14.32v-3.367V40.475c0-0.021-0.001-0.043-0.001-0.064c0-18.454,14.96-33.414,33.413-33.414
	                        s33.414,14.96,33.414,33.414l-0.001,15.849v3.282c0,7.91,6.411,14.32,14.32,14.32v2.988v6.693H2.267V76.85L2.267,73.861z" />
                                <path fill="none" stroke="#010101" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" d="M59.572,91.793
	                        c-3.06,0.79-6.267,1.21-9.573,1.21c-3.286,0-6.476-0.415-9.519-1.196" />
                        </svg>
                                <p>接收通知</p>
                            </div>
                            <div>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                <circle fill="none" stroke="#010101" stroke-width="4" stroke-miterlimit="10" cx="60.14" cy="40.305" r="21.133" />
                                <path fill="none" stroke="#010101" stroke-width="4" stroke-miterlimit="10" d="M97,81.456c0,8.686-7.043,15.728-15.727,15.728
	                            H18.361c-8.688,0-15.729-7.042-15.729-15.728V18.544c0-8.687,7.041-15.728,15.729-15.728h62.912C89.957,2.816,97,9.858,97,18.544
	                            V81.456z" />
                        </svg>
                                <p>这台Edge</p>
                            </div>
                        </div>
                        <div>
                            <div>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                <path fill="none" stroke="#010101" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" d="M2.742,49.516
	                        c7.638,18.599,25.927,31.697,47.278,31.697s39.641-13.1,47.278-31.698c-7.638-18.6-25.927-31.698-47.278-31.698
	                        C28.669,17.816,10.38,30.916,2.742,49.516z" />
                                <circle fill="none" stroke="#010101" stroke-width="4" stroke-linejoin="round" stroke-miterlimit="10" cx="50.021" cy="49.515" r="20.437" />
                        </svg>
                                <p>可被发现</p>
                            </div>
                            <div>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                <path fill="none" stroke="#010101" stroke-width="4" stroke-miterlimit="10" d="M89.838,48.628c0-6.153,2.796-11.653,7.186-15.3
	                        c-0.684-1.929-1.483-3.803-2.39-5.615c-0.899,0.125-1.815,0.193-2.747,0.193c-10.981,0-19.883-8.902-19.883-19.882
	                        c0-0.916,0.067-1.814,0.188-2.697c-2.101-1.046-4.286-1.947-6.542-2.692c-3.641,4.637-9.292,7.619-15.645,7.619
	                        c-6.352,0-12.003-2.982-15.643-7.619c-2.252,0.743-4.434,1.643-6.531,2.686c0.12,0.884,0.188,1.786,0.188,2.703
	                        c0,10.98-8.901,19.882-19.883,19.882c-0.936,0-1.855-0.069-2.757-0.195c-1.068,2.133-1.987,4.352-2.744,6.645
	                        c4.635,3.64,7.616,9.291,7.616,15.643c0,6.354-2.983,12.005-7.622,15.645c0.741,2.247,1.639,4.425,2.678,6.518
	                        c0.925-0.131,1.869-0.203,2.829-0.203c10.981,0,19.883,8.901,19.883,19.883c0,0.967-0.073,1.916-0.207,2.847
	                        c2.1,1.044,4.282,1.947,6.536,2.691c3.64-4.646,9.297-7.637,15.657-7.637s12.018,2.99,15.657,7.637
	                        c2.259-0.746,4.444-1.65,6.548-2.697c-0.134-0.929-0.206-1.875-0.206-2.841c0-10.981,8.901-19.883,19.883-19.883
	                        c0.956,0,1.896,0.072,2.817,0.202c1.215-2.446,2.235-5.007,3.04-7.66C92.94,60.87,89.838,55.112,89.838,48.628z" />
                                <circle fill="none" stroke="#010101" stroke-width="4" stroke-miterlimit="10" cx="49.995" cy="50.007" r="9.446" />
                        </svg>
                                <p>个人设置</p>
                            </div>
                            <div>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                <path fill="none" stroke="#010101" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
	                            M40.453,12.945C21.323,17.287,7.042,34.394,7.042,54.838c0,23.725,19.233,42.959,42.958,42.959
	                            c23.726,0,42.958-19.234,42.958-42.959c0-20.445-14.281-37.552-33.411-41.893" />
                                <line fill="none" stroke="#010101" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="50" y1="2.334" x2="50" y2="50.065" />
                            </svg>
                                <p>登出</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div id="statusbar"><i class="fa fa-wifi"></i> EmergeLabs (2.4Ghz) - <i class="fa fa-exclamation-triangle"></i> 无互联网连接</div>

        <div id="inbox">
            <div id="inboxhead">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <g>
                <g>
		
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="50.209" y1="56.706" x2="50.208" y2="10.031" />







		
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="50.209" y1="56.706" x2="36.167" y2="42.745" />







		
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="50.209" y1="56.706" x2="64.223" y2="42.77" />
	</g>
                <path fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M76.169,56.792
		c-3.831,10.636-14.007,18.239-25.962,18.239c-11.955,0-22.131-7.604-25.961-18.239h-20.8V84.85c0,0-0.008,4.681,4.672,4.681
		c4.679,0,79.508,0,84.18,0c4.671,0,4.671-4.681,4.671-4.681V56.792H76.169z" />
                <g>
		
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="22.151" y1="19.382" x2="3.445" y2="56.792" />







		
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="22.151" y1="19.382" x2="36.167" y2="19.382" />
	</g>
                <g>
		
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="78.266" y1="19.297" x2="96.969" y2="56.706" />







		
                <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="78.266" y1="19.297" x2="64.223" y2="19.297" />
	</g>
</g>
                </svg>
                <h1><b>5</b> <span>条未读消息</span></h1>
                <div class="data-popup ui vertical animated inverted basic button">
                    <div class="hidden content">
                        <i class="fa fa-check"></i> 清空
                    </div>
                    <div class="visible content">
                        <i class="fa fa-minus"></i>
                    </div>
                </div>
            </div>

            <div class="message">
                <div class="ico cell">
                    <i class="fa fa-file"></i>
                </div>
                <div class="content cell">
                    <h3>收到新文件</h3>
                    <div>TestFile.jpg</div>
                </div>
                <div class="misc cell">
                    十分钟前
                </div>
            </div>

            <div class="message">
                <div class="ico cell">
                    <i class="fa fa-plane"></i>
                </div>
                <div class="content cell">
                    <h3>行程提醒</h3>
                    <div>您的航班 CA9832 将于 3:00PM 起飞 <br /> 建议提前出发</div>
                </div>
                <div class="misc cell">
                    十分钟前
                </div>
            </div>

            <div class="message">
                <div class="ico cell">
                    <div class="avatar">
                        <img src="../images/doge.gif" />
                    </div>
                </div>
                <div class="content cell">
                    <h3>肉女士</h3>
                    <div>饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了饿了</div>
                </div>
                <div class="misc cell">
                    十分钟前
                </div>
            </div>
        </div>
    </div>
    <!--<h3><i class="fa fa-long-arrow-up"></i> 93kbps | <i class="fa fa-long-arrow-down"></i> 53kbps</h3>
    <h3>ADMIN <i class="fa fa-certificate"></i>  emergelabs </h3>
    <hr />
    <h1>Current DeviceName with <i class="fa fa-apple"></i> or <i class="fa fa-windows"></i></h1>
    <h3>192.168.9.121 (Click to Copy)</h3>
    <h3>-95dbm | 2.4Ghz <i class="fa fa-exclamation-triangle"></i> (Diagnostics) </h3>
    <hr />
    <h3><i class="fa fa-inbox"></i> Messages (10)</h3>
    <h3><i class="fa fa-eye"></i> VLAN Visibility Toggle | <i class="fa fa-clipboard"></i> Copy Device Ip | <i class="fa fa-headphones"></i> Volume ? </h3>
    <h3><i class="fa fa-mobile"></i> My Other Devices | <i class="fa fa-gear"></i> Settings | <i class="fa fa-quit"></i> Logout</h3>-->

    <script>
        var
            root = this.root,
            self = this;
        root.riot = this;

        var _close = undefined;

        function onClose(fn) {
            _close = fn;
        }

        function open() {
            var t = $(root);
            var left = t.find('.left');
            var right = t.find('.right');

            t.css("visibility", "visible");
            TweenLite.to(left, 1, {
                delay:0.2,
                opacity: 1,
                x: 0,
                ease: Expo.easeOut
            });
            TweenLite.to(t, 0.2, {
                backgroundColor: "rgba(0,0,0,0.6)",
            });
            TweenLite.to(right, 1, {
                delay:0.2,
                opacity: 1,
                y: "0%",
                ease: Expo.easeOut
            });
        }

        function close() {
            var t = $(root);
            var left = t.find('.left');
            var right = t.find('.right');

            TweenLite.to(left, 0.3, {
                opacity: 0,
                x: "-50px",
                ease: Power3.easeIn
            });
            TweenLite.to(right, 0.3, {
                y: "-10%",
                opacity: 0,
                ease: Power3.easeIn
            });
            TweenLite.to(t, 0.2, {
                delay: 0.3,
                backgroundColor: "rgba(0,0,0,0)",
                onComplete: function () {
                    t.css("visibility", "hidden");
                    if (_close) _close();
                }
            });
        }

        root.open = open;
        root.onClose = onClose;

        function load() {
            var t = $(root);
            var left = t.find('.left');
            var right = t.find('.right');

            t.css("visibility", "hidden");
            TweenLite.set(left, {
                opacity: 0,
                x: "-50px"
            });
            TweenLite.set(right, {
                y: "-10%",
                opacity: 0,
            });

            t.click(close);
        }

        this.on('mount', function () {
            load();
        });
    </script>

</edge-me>
