<!DOCTYPE html>
<html>
<head>
    <title>[Edge Login Portal]</title>
    <style>
        body {
            font-family: Helvetica, Arial, sans-serif;
            font-weight: lighter;
        }
        h1 {
            font-weight: normal;
        }
        h2 {
            font-weight: lighter;
        }
    </style>

    <script>
        function Loaded() {
            setTimeout(function() {
                document.getElementById("jump").submit();
            }, 2000);
        }
    </script>
</head>
<body onload="Loaded()">
    <h1>Processing</h1>
    <% for(var i = 0; i < domains.length; i++) { %>
    <img style="opacity: 0" src="http://<%=domains[i]%>/distribute?<%=query%>" />
    <% } %>
    <form id="jump" method="post" action="http://wifi.network/?<%=originalQuery%>">
    </form>
</body>
</html>