<!DOCTYPE html>
<html>
<head>
    <title>:Gate:</title>
    <style>
        body {
            font-family:Helvetica, Arial, sans-serif;
            font-weight:lighter;
        }
        h1 {
            font-weight:normal;
        }
        h2 {
            font-weight:lighter;
        }
    </style>
</head>
<body>
    <h1>EDGE</h1>
    <h2>AuthServer</h2>

    <form method="post" action="/auth">
        <input name="uore" />
        <input type="password" name="pass"/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>